[2017-03-18 18:58] mujuni88 opened #1 "pretty-format plugin not found"
[code]

[2017-03-18 19:02] mujuni88 commented on #1
After I downloaded the pretty-format plugin, I get the following error:

TypeError: expect.addSnapshotSerializer is not a function

      at Object.<anonymous> (src/components/molecules/CommUserContactHeader/__tests__/index.test.js:8:304)
      at handle (node_modules/worker-farm/lib/child/index.js:41:8)
      at process.<anonymous> (node_modules/worker-farm/lib/child/index.js:47:3)
      at emitT

[2017-03-19 08:12] MicheleBertoli commented on #1
Hello @mujuni88, which version of Jest are you using?

[2017-03-19 11:57] mujuni88 commented on #1
"jest": "17.0.2",
"jest-styled-components": "^0.1.1"

[2017-03-19 12:28] mujuni88 commented on #1
I'm also using enzyme-t-json serializer.

[2017-03-19 12:29] MicheleBertoli commented on #1
Oh I see, the `addSnapshotSerializer` function has been introduced in [Jest 19](http://facebook.github.io/jest/blog/2017/02/21/jest-19-immersive-watch-mode-test-platform-improvements.html#expect-improvements).

[2017-03-19 12:35] MicheleBertoli commented on #1
Did you change the `testEnvironment`?
See the [README](https://github.com/styled-components/jest-styled-components#usage).

[2017-03-19 13:08] mujuni88 commented on #1
That did it however, i’m getting a big json object instead of rendered html elements.

[2017-03-19 13:09] mujuni88 commented on #1
My tests look like the following:
[code]

[2017-03-19 14:33] lgraziani2712 opened #2 "Doesn't work with jsdom"
Enzyme uses jsdom environment to be able to mount components. The following error is thrown by this module.

Thank you!

[2017-03-19 14:37] MicheleBertoli commented on #1
That's because you are passing the Enzyme wrapper to Jest.
You should either use the `react-test-renderer`, or `enzyme-to-json`.

[2017-03-19 14:56] MicheleBertoli commented on #2
That's right @lgraziani2712.
As stated in the [README](https://github.com/styled-components/jest-styled-components#usage), the `testEnvironment` should be set to `node` to make this package work.
You can still use Enzyme's `shallow` rendering.

[2017-03-19 15:51] MicheleBertoli commented on #2
It would be awesome to have @threepointone's help here :)
It looks like [ownerNode](https://github.com/styled-components/styled-components/blob/master/src/vendor/glamor/sheet.js#L33) is always undefined with `jsdom`

[2017-03-19 15:53] MicheleBertoli commented on #1
That's because you are passing the Enzyme wrapper to Jest.
You should either use the `react-test-renderer` or `enzyme-to-json`.

[2017-03-19 15:53] #1 closed

[2017-03-19 16:12] mujuni88 commented on #1
The above test is using enzyme-to-json serializer which is automatically applied by setting it inside jest configuration `snapshotSerializers`.

[2017-03-19 17:07] MicheleBertoli commented on #1
Please use the `toJSON` function from `enzyme-to-json` for now.
I'll investigate the problem in a different issue.

[2017-03-19 17:09] MicheleBertoli commented on #1
Please use the `toJSON` function from `enzyme-to-json`.

[2017-03-19 17:22] MicheleBertoli commented on #1
Solution 1:

[code]

Solution 2:

[code]

[2017-03-19 18:29] lgraziani2712 commented on #2
Yep, but since didn't see the issue, I reported it! :)

Sorry for not being able to help :(

[2017-03-19 18:42] lgraziani2712 opened #3 "[Documentation] About .toMatchStyledComponentsSnapshot method"
It seems like there is no need to use `.toMatchStyledComponentsSnapshot`.

Using `.toMatchSnapshot` has the same effect once the addon is configured.

Is good to know to prevent unnecessary refactor 🙂

Thanks!

[2017-03-19 18:46] lgraziani2712 commented on #2
@MicheleBertoli I cannot use `shallow` rendering. At least without changing my tests.

Something as simple as checking if `<Button>Hello!</Button>` renders the text it'll fail if `<Button />` is a `styled.button`. With `shallow` render will happen this:

[code]

[2017-03-19 19:50] MicheleBertoli commented on #3
Thanks @lgraziani2712 for opening the issue.
However, there is an important difference between `toMatchSnapshot` and  `toMatchStyledComponentsSnapshot`.
The latter, in fact, marks the non-relevant changes (e.g. the class names) with a different color in order to make it easier to spot what really changed.

**toMatchSnapshot**

<img width="461" alt="screen shot 2017-03-19 at 19 45 41" src="https://

[2017-03-19 19:50] #3 closed

[2017-03-23 10:28] threepointone commented on #2
ola! I'll have a look at this sometime in the next couple of days.

[2017-03-23 21:55] MicheleBertoli commented on #1
With the current version ([v1.1.0](https://github.com/styled-components/jest-styled-components/releases/tag/v1.1.0)) you can use:
[code]

[2017-03-23 22:02] mujuni88 commented on #1
Will try it out and let you know. Thanks for your work.

[2017-03-25 07:33] MicheleBertoli commented on #2
Repro steps:
- clone the repo
- install deps
- [set](https://github.com/styled-components/jest-styled-components/blob/master/package.json#L50) `testEnvironment` to `jsdom`
- run tests
- you get `TypeError: Cannot read property 'cssRules' of undefined`

[2017-04-13 08:02] soosap opened #4 "No feedback on what has changed for nested components"
Tried and it works great. Just for nested components I do not get any feedback on what changed.

That's the component: I want to build a `<ButtonGroup />`.
![image](https://cloud.githubusercontent.com/assets/7187705/24995461/2f089500-202f-11e7-98fb-c5ea8b30eebf.png)

However, the only feedback I get through snapshot testing is that something inside the styled-component has changed - no feedback wh

[2017-04-16 21:22] #4 closed

[2017-04-16 21:27] MicheleBertoli commented on #4
Thank you very much @soosap, I fixed the issue in [1.3.3](https://github.com/styled-components/jest-styled-components/releases/tag/v1.3.3).

Here is an example:

<img width="220" alt="screen shot 2017-04-16 at 10 23 27 pm" src="https://cloud.githubusercontent.com/assets/1308971/25074488/a0defac2-22f3-11e7-9ae8-d8fa439474c5.png">

[2017-04-18 16:22] zvictor commented on #2
it is caused by a quite old bug in jsdom: https://github.com/tmpvar/jsdom/issues/992

[2017-04-19 07:44] ismay opened #5 "Support styled-components v2"
Since 1.4 is listed as a peerdependency I'm assuming it's only meant to work with v1. I'm asking because I'm using v2 and would like to use this lib as well, but I've been running into some issues (window is not defined on CI tests, even with `testEnvironment: node`). Wondering if that's expected because it isn't officially supported, or that I'm doing something wrong.

[2017-04-19 08:35] MicheleBertoli commented on #5
Hello @ismay, thanks for opening this issue.
At the moment this package only works with v1 (I didn't even try it with v2).

However, it's something I absolutely want to address in the near future.
I'm leaving this open until it's done, and PRs are more than welcome.

[2017-04-20 12:38] ismay commented on #5
Ok cool! I did try it with v2 btw, worked locally but interestingly it failed on travis. So it looked quite good already. I'll see what I can find after v2 has been released.

[2017-04-24 04:39] luftywiranda13 opened #7 "expect.addSnapshotSerializer is not a function"
![screen shot 2017-04-24 at 11 35 59](https://cloud.githubusercontent.com/assets/22868432/25322592/8ab2f51a-28e2-11e7-932f-0bf2abb642e5.png)

I got that when I run the test on top of a **CRA** project.

This is my test suit:
![screen shot 2017-04-24 at 11 36 22](https://cloud.githubusercontent.com/assets/22868432/25322610/a75e5808-28e2-11e7-99ed-e81ab42ac0f8.png)

[2017-04-24 14:18] MicheleBertoli commented on #7
Hello @luftywiranda13,
the [addSnapshotSerializer](https://github.com/facebook/jest/blob/996ba5d4f1e493e18f7dbc4bbe37a09cd271276f/CHANGELOG.md#jest-1900) function works with Jest 19+.
I assume you are using an earlier version, right?

[2017-04-25 00:53] luftywiranda13 commented on #7
@MicheleBertoli the latest CRA uses **jest v18.x.x**

I think we can't easily upgrade jest in CRA

[2017-04-25 08:42] MicheleBertoli commented on #7
You are [right](https://twitter.com/kentcdodds/status/856720119841439744) @luftywiranda13, you just need to wait for the [next version](https://github.com/facebookincubator/create-react-app/issues/1604) of CRA.

[2017-04-25 08:42] #7 closed

[2017-04-28 15:35] Thr44 commented on #5
Hi,

I'm getting an issue that an error is thrown, whether I use "testEnvironment": "node" or not, when I call :
`toMatchStyledComponentsSnapshot()` I get:

`TypeError: styleSheet.rules is not a function`

here's a complete test that is failing:

[code]

[2017-04-28 15:47] philpl commented on #5
This will need to be updated for the v2 StyleSheet that @geelen updated recently to support async SSR 🙃

[2017-05-02 10:39] ismay commented on #5
Ok so it seems that only [styleSheetSerializer](https://github.com/styled-components/jest-styled-components/blob/master/src/serializers/styleSheetSerializer.js) needs to be updated. Am I correct in assuming that [these two functions](https://github.com/styled-components/jest-styled-components/blob/master/src/serializers/styleSheetSerializer.js#L60-L61) need to be replaced by the [new api](https://

[2017-05-03 10:11] joseaplwork opened #9 "Problems with testEnvironment "node""
I'm barerly sure that I'm not the only one who is using jest with the default test environment which is "jsdom" for [jest](https://facebook.github.io/jest/docs/configuration.html#testenvironment-string).

So I love this library, it works very well with the `v2.0` but changing my `testEnvironment` to `node` just broke my tests. Because in my project I have access to the DOM global variables and the

[2017-05-03 20:12] MicheleBertoli commented on #2
Applying styled-components/styled-components#707 the tests don't break with `jsdom` but the styles are empty. Needs more investigation.

[2017-05-03 20:15] MicheleBertoli commented on #9
Thanks @joseaplwork for opening the issue.
I'm going to close this in favor of #2 (which I just reopened).
Also, facebook/jest#3156 introduces the multi-project support which makes it possible to run Jest with different configurations.

[2017-05-03 20:15] #9 closed

[2017-05-03 20:18] MicheleBertoli commented on #5
Yes @ismay, I can confirm that the main idea is updating the SSR APIs.
I think the `node` environment is going to help with that.
Please let me know if you need any help.
Thank you very much!

[2017-05-03 20:33] zvictor commented on #2
I ended giving up on styled-components `v1` and moved to `v2.0.0-16+`. The API has totally changed in that version and works better.

[2017-05-03 22:34] joseaplwork commented on #2
I'm using `styled-components` with `v2.0.0-17` and  `jest-styled-components` with `v2.0.0`
now getting

`TypeError: styleSheet.rules is not a function`

[2017-05-04 00:16] philpl commented on #5
@MicheleBertoli the new StyleSheetManager might be able to help you since it'd allow you to separate stylesheets from one another extremely effortlessly.

I haven't looked through the code here yet, but does that sound helpful? You could also just use the context directly I guess

[2017-05-04 06:15] MicheleBertoli commented on #5
Thank you very much, @philpl.
I'm sure is going to be straightforward with the new public APIs, I just didn't have time to do it :)
As far as I understand @ismay is working on it, otherwise I'll implement it on the weekend.

[2017-05-04 06:16] MicheleBertoli commented on #2
Thanks @joseaplwork, please check #5.

[2017-05-04 08:19] ismay commented on #5
I was planning to, but don't have the time before the weekend. It's all yours :)!

[2017-05-04 08:34] MicheleBertoli commented on #5
Sounds perfect, thanks @ismay.
If you don't mind I'm going to ask you to review my code.

I might also ping @philpl for some help.

Have a lovely day!

[2017-05-04 10:26] ismay commented on #5
👍  No problem, I'd be happy to

You too!

[2017-05-04 11:42] leocreatini opened #10 "Pull Request Details"
Hi @MicheleBertoli,

First time I am making a PR in an open-source project and just wanted to know your expectations.

I added the React web toHaveStyle matcher. It's passing the linting and works as expected with Enzyme. I even added a bit of documentation to the Readme. I think I need to add comments to the code itself, and maybe change the anonymous arrow functions to declared functions to make

[2017-05-04 19:14] MicheleBertoli commented on #10
Thanks for opening the issue @leocreatini.
I'm super excited that this is going to be your first contribution.

There are no rules in this repo, except that the code should make testing a delightful experience :)

Please use arrow functions when they make sense and regular ones otherwise.
Also, thank for updating the README as well. Once is merged, I'm going to add the screenshots using my theme (

[2017-05-05 12:43] leocreatini commented on #10
Thanks, @MicheleBertoli, and please add screenshots when you can, I like consistency :+1:

I have a minor hitch, it says that I do not have permission to make a PR.
Do you know what the issue might be?

[2017-05-05 13:42] kentcdodds commented on #10
You might like to watch this free video course that could help a bit: http://makeapullrequest.com 😀

[2017-05-05 14:42] leocreatini commented on #10
@kentcdodds Thanks, I love egghead (on my second year of subscription). It seems my issue came down to corporate firewall :sob:. Will try again when I get home.

[2017-05-05 15:34] #10 closed

[2017-05-06 15:52] tylerferguson opened #12 "Tests pass when styles change on a nested component using enzyme shallow."
Hi @MicheleBertoli . First off, thanks for making this package - it looks like it could be super useful!

I'm really keen to get using `jest-styled-components` but have run into this issue. To reproduce:

1. Clone jest-styled-components
2. Change `test/index.spec.js` to remove the `react-test-renderer` test so that we don't get confused by test output.
3. Change a style on the `Title` component.
4

[2017-05-07 07:03] MicheleBertoli commented on #12
Hello Tyler, thanks for opening the issue.
I understand why this might be confusing but that's how shallow rendering works.
Shallow rendering renders the components only one level deep, and that's the reason why the `Title` is shown as `styled.h1` and it doesn't have any class names.

I don't believe this is an issue or something to solve, but I'll be happy to discuss further in case you do. I'm g

[2017-05-07 07:03] #12 closed

[2017-05-07 07:06] MicheleBertoli commented on #2
Jest 20 ships with a [@jest-environment annotation](http://facebook.github.io/jest/blog/2017/05/06/jest-20-delightful-testing-multi-project-runner.html#new-improved-testing-apis) which will make this less annoying.

[2017-05-07 07:18] MicheleBertoli commented on #2
Jest 20 ships with a [@jest-environment annotation](http://facebook.github.io/jest/blog/2017/05/06/jest-20-delightful-testing-multi-project-runner.html#new-improved-testing-apis) which makes this problem less annoying.
I'm going to close this for now, and we'll get back to it when Styled Components v2 will be stable.

[2017-05-07 07:18] #2 closed

[2017-05-07 07:23] MicheleBertoli commented on #5
I tried to run the package with Styled Components v2 (2.0.0-15) and, apart from a change in the class name (`className="sc-bdVaJa iATjrR"`), it works.
I guess we can close this for now, and support the v2 properly when it's stable.

[2017-05-07 08:16] philpl commented on #5
@MicheleBertoli <= 2.0.0-15 are unfortunately released with the old v2 StyleSheet API, but >= 2.0.0-16 have the new one and are our release candidates :/

https://github.com/styled-components/styled-components/tags

[2017-05-07 08:21] MicheleBertoli commented on #5
I see, thanks @philpl.
I run `yarn add styled-components@next` and I got `styled-components@2.0.0-15`.
This makes much more sense now :)

[2017-05-07 08:59] philpl commented on #5
@MicheleBertoli the RC should be on the @rc tag :)

[2017-05-07 09:25] MicheleBertoli commented on #5
Here we go #14
Feedback are welcome :)

[2017-05-07 12:06] tylerferguson commented on #12
That does make sense. I think it was a mistake in how I was viewing the `Title` component. I was seeing it as: `<Title className="2rQth">Hello World</Title>`, when it's actually more like: `Title =(props) => <h1 className="2rQth">{props.children}</h1>`. The `className` is not passed as a prop to`Title`.

In that case, when it comes to testing examples like this (where we have two components that w

[2017-05-07 12:27] mxstbr commented on #12
This is definitely the way to go! You could also just partially export it if you don't want to add another file:

[code]

Then you can import both in your tests and test the separately:

[code]

[2017-05-07 12:30] tylerferguson commented on #12
Perfect. Thanks for the advice @mxstbr. I'll get to it!

[2017-05-08 20:37] tylerferguson opened #15 "CSS Properties are duplicated in snapshot when using styled(...) syntax."
Hi again.

This time I think I have a real bug. Promise :).

When using `styled(...)` to override the styles on a component the CSS properties overridden are duplicated in the snapshot produced. The example below should illustrate this:
[code]

Produces the snapshots:

[code]

Note the duplication of the `background` property. It seems it's actually easy enough to follow and the latter property is

[2017-05-08 20:55] MicheleBertoli commented on #15
Hello @tylerferguson, thanks for opening the issue.

It's interesting that you think there's a bug in the library, but this is how Styled Components work:

<img width="229" alt="screen shot 2017-05-08 at 9 49 55 pm" src="https://cloud.githubusercontent.com/assets/1308971/25824730/54ecb6bc-3438-11e7-8cae-072b7027751a.png">

However, the value snapshot testing provides is keeping track of how the st

[2017-05-08 20:55] #15 closed

[2017-05-08 21:11] tylerferguson commented on #15
Hi @MicheleBertoli. Thanks for getting back to me. I understand that the latter property is what will be applied as per the CSS spec, but is that what a snapshot should show? Tracking how the styles change over time seems to be at odds with the idea of a 'snapshot' at a single point in time.

 It gets quite confusing with larger classes too and doesn't wholly represent what is actually rendered as

[2017-05-08 21:25] MicheleBertoli commented on #15
This is the purpose of [Jest](https://facebook.github.io/jest/), which does it by taking snapshots.

I understand your confusion but I believe snapshots should represent what's rendered rather than what you see.

How would you expect the snapshot to be in the following scenario?
[code]

In any case, feel free to experiment in this area and send a PR.
The goal of this package is making testing a de

[2017-05-08 21:53] tylerferguson commented on #15
Isn't this referring to taking multiple snapshots and how that allows you to see how state changes over time? Take a snapshot, click a button, take another snapshot and so on. Certainly, I wouldn't expect to see a dropdown menu both display and hide its options in one snapshot! But in several snapshots I can see how it has changed over time.

I would expect to see something like:

[code]

However,

[2017-05-09 05:44] MicheleBertoli commented on #15
For reference, snapshots track how the state change over time (= between different executions of the same test).

I guess this is the whole point of snapshots: you want to make sure your output doesn't change unexpectedly, which has nothing to do with what you see in the browser.

However, I'm curious to see what other people think about this.
Thanks you very much for spending time experimenting.

[2017-05-11 11:36] MoeSattler commented on #2
I think I might not understand this. How does it solve the issue? When my test relies on `jsdom`, `@jest-environment` won't allow me to run a single test magically in both, `node` and `jsdom`.

[2017-05-11 13:00] joseaplwork commented on #2
@MoeSattler `@jest-environment` is available just in Jest 20, please make sure you are using the right version.

[2017-05-12 17:52] Thr44 commented on #5
hi, lovely to see so many changes :)
class name (className="sc-bdVaJa iATjrR") is still an issue, right?

[2017-05-14 15:24] MicheleBertoli commented on #5
I wouldn't define it an issue, but all the snapshots need to be updated when upgrading to v2.

[2017-05-18 15:03] CosminIonascu opened #18 "Typescript support"
Hi, can you offer support for typescript?  I am getting this error when I use  toMatchStyledComponentsSnapshot "[ts] Property 'toMatchStyledComponentsSnapshot' does not exist on type 'Matchers'."

[2017-05-20 20:47] MicheleBertoli commented on #18
This is interesting, thanks @CosminIonascu.
Unfortunately I'm not a TypeScript expert, but I'll be more than happy to review a PR.

[2017-05-25 11:00] oguzzkilic opened #20 "Create-React-App v0.9.5 component snapShot tests not working"
Node -v : v6.9.5
Styled-Components : v1.4.4
Create-React-App: v.0.9.5

I can not run jest-styled-components tests.

![screen shot 2017-05-25 at 13 55 04](https://cloud.githubusercontent.com/assets/3652404/26447586/ccf8ecd6-4151-11e7-98e6-4118d2c84e08.png)

[2017-05-25 13:42] luftywiranda13 commented on #20
#7

[2017-05-25 16:20] miazukee opened #21 "Enzyme shallow with toMatchStyledComponentsSnapshot"
Hey!

I'm just trying out your module. I'm running into something strange. Basically, I'm not getting the same results you showed in the preview screenshot.

The `toMatchStyledComponentsSnapshot` generates a snapshot that doesn't contain the detailed styles of the class.

The documentation being a bit short, am I doing something wrong here?
[code]
The test:
[code]
Snapshot result:
[code]

When `mo

[2017-05-26 04:15] MicheleBertoli commented on #20
Thanks @oguzzkilic @luftywiranda13
I can confirm that this package works with Jest 19+.
The latest version of CRA ships with Jest v20.

[2017-05-26 04:15] #20 closed

[2017-05-26 04:21] MicheleBertoli commented on #21
Hello @miazukee, thanks for opening the issue.
The `mount` function from Enzyme doesn't work with this package because it needs `jsdom`.
However, the `shallow` rendering works pretty well (as you can see in the [test folder](https://github.com/styled-components/jest-styled-components/blob/master/test/index.spec.js#L47)).
From what I can see here, it looks like you are missing the [`enzyme-to-json`

[2017-05-26 04:21] #21 closed

[2017-05-27 16:14] #18 closed

[2017-05-29 09:47] AshCoolman opened #23 "Trouble understanding toHaveStyleRule()"
Hi,
I'm trying to use `toHaveStyleRule` but I'm unsure how to use it. My naive modification to `jest-styled-components/test/index.spec.js` is here:

[code]

But it throws errors:

[code]

Any help would be great, Thanks

[2017-05-29 11:28] MicheleBertoli commented on #23
Hello @AshCoolman, thanks for opening this issue.
Which version of `styled-components` are you using?
We are having a [similar](https://github.com/styled-components/jest-styled-components/pull/14#issuecomment-304196142) issue with v2, which is going to be fixed soon.

[2017-05-29 14:18] AshCoolman commented on #23
Ah yes, I am on v2 also

[code]

[code]

[2017-05-30 12:05] ParAnton commented on #23
I'm having the same issue in toHavestyleRule.js file the const styleSheet is undefined since it doesn't seem to be declared in styled-components
`const { styleSheet } = require('styled-components')`

[2017-06-11 19:19] #5 closed

[2017-06-11 19:20] #23 closed

[2017-06-11 19:20] MicheleBertoli commented on #23
Fixed by #25

[2017-06-12 17:58] RIP21 opened #26 "toHaveStyleRule TypeError: Cannot read property '1' of null"
I'm trying to test whether the component has `display:inline` when horizontal is set to true.
Here is the component code:
[code]
And here is the test:
[code]

But at the end I got an error:
[code]

I have `"jest-styled-components": "^3.0.0"` and `"styled-components": "^2.0.0"` and latest CRA.

[2017-06-12 18:42] leocreatini commented on #26
I was able to get passing test with it:
[code]

![image](https://user-images.githubusercontent.com/2458896/27049414-3fd8ba22-4f7d-11e7-9040-9983ad8998a7.png)

Maybe try `npm cache clean` or reinstalling the packages?

[2017-06-12 19:32] RIP21 commented on #26
I'm just rerun your test (the only thing I add is import of React at the top, cause it argues without it)
And the result is exactly as mine. After I delete node_module and reinstall it using `yarn install` I got exactly the same output as before.
Also, I have latest npm 5.0.3 and yarn and node version 8.0.0, and Windows 10 machine which can also be a case.

[2017-06-12 21:43] rikukissa commented on #26
I noticed the same thing today when I was updating my tests. I have a fix for this, but I'm not 100% sure what is causing it. Currently trying to reproduce this so I'll be able to send a PR.

[2017-06-13 18:05] jjanssen commented on #26
I have put together a small repository for reproduction at: [https://github.com/jjanssen/jest-styled-components-example](https://github.com/jjanssen/jest-styled-components-example). In this repository is example with a css helper (Example) and just a plain component (Example2). Both of them are tested with `react-test-renderer` and `enzyme` and [both of them fail](https://travis-ci.org/jjanssen/je

[2017-06-13 18:44] MicheleBertoli commented on #26
Thank you very much @jjanssen, your repo is exactly what we needed.
It looks like in `styled-components` v2.0.1 there's no space anymore between [the class name and the bracket](https://github.com/styled-components/jest-styled-components/blob/master/src/matchers/toHaveStyleRule.js#L51).

[2017-06-13 21:12] k15a opened #29 "Jest snapshot testing passing unique classNames"
Moved form https://github.com/styled-components/styled-components/issues/916 by @corbanbrook

[2017-06-14 05:37] #26 closed

[2017-06-14 10:23] RIP21 opened #30 "toHaveStyleRule didn't see changes to the styles by styled(Component)"
I have this test:
[code]
And I have that component under test:
[code]

The result is weird:
[code]
In the same time `tree.find(Label)`  gives
[code]
and `tree.find('label')` gives:
[code]
Snapshot looks like that:
[code]
I have `styled-components 2.0.1` `jest-styled-components 3.0.1` `enzyme 2.8.2`

[2017-06-14 10:51] MicheleBertoli commented on #30
Thank you very much for opening the issue @RIP21.
It's fixed in v3.0.2, please upgrade the package.

[2017-06-14 10:51] #30 closed

[2017-06-14 10:59] RIP21 commented on #30
Yay! @MicheleBertoli thanks a lot :) Now it's working fine :)

[2017-06-15 00:15] geelen commented on #29
Had another bug report similar to this, with a reproduction repo that I've figured out the problem for and left some description: https://github.com/JamieDixon/sc-jest-issue/issues/1

Basically, ordering causes classnames to jump around wildly unless you're using `babel-plugin-styled-components` in your jest test environment. Which kinda sucks, since the generated classnames should be free to chan

[2017-06-15 08:01] MicheleBertoli commented on #29
Thank you very much @philpl @k15a @geelen and @JamieDixon.

Given this:

I strongly agree the problem should be fixed by this package.

[2017-06-18 10:30] MicheleBertoli commented on #29
I [implemented  a solution](https://github.com/styled-components/jest-styled-components/pull/31), which [seems to work](https://github.com/JamieDixon/sc-jest-issue/pull/2) as expected.
Feedback is welcome :)

[2017-06-19 11:02] gavin-johnson84 opened #32 "Error returned when using toHaveStyleRule"
Hi, I'm hoping someone can help me with a problem I'm having with my tests.

Each time I run the following test:
[code]

I receive this error:
[code]

Here's what the component I'm attempting to test looks like:
[code]

Please also see the snapshot file I'm using below:
[code]

A couple of us have reviewed this now and can't reach a conclusion as to what's causing the problem, but after commenting

[2017-06-20 00:47] vamsiampolu opened #33 "Please improve documentation"
I am having a lot of trouble understanding the documentation of `jest-styled-components`, for example:

1. what is `tree`, how was `tree` generated in the examples?

[code]

I only found out after looking at the docs of `react-test-renderer` for generating snapshots that I would have to use it to generate the `tree`.

2. which version of styled-components do you support and do you need me to impor

[2017-06-20 05:21] MicheleBertoli commented on #32
Thanks for opening the issue @gavin-johnson84, it's fixed in v3.1.0.

[2017-06-20 05:21] #32 closed

[2017-06-20 05:29] MicheleBertoli commented on #33
Thanks for opening the issue @vamsiampolu.

I'm sorry for the troubles you are experiencing with the current docs, my first goal was to make this package solid (I'm still working on it) and then write proper docs.
Any help is also highly appreciated : )

1) a tree could be either a serialised tree generated by `react-test-renderer`, or any enzyme wrapper (you would need `enzyme-to-json` to make th

[2017-06-20 21:40] wongterrencew opened #35 "How to set up jest-styled-components"
I was struggling a bit with this today and had to dig a little around the `storyshots` source to figure this out. I figured someone else might have the same issue/question as me.

Here's an example repo of the setup I came up with: https://github.com/wongterrencew/jest-styled-components-example

I'm assuming this is the intended setup?

[2017-06-21 08:15] oennen opened #36 "Snapshots don´t include @supports at-rules"
Hi there,

I need to add snapshot tests for styled components which include @supports at-rules.

[code]

But unfortunately the snapshots don´t include the @supports CSS at-rules.

[code]

Are you already aware of this issue?

Cheers,
Olaf

[2017-06-21 19:48] #36 closed

[2017-06-21 19:49] MicheleBertoli commented on #36
Thank you very much @oennen, fixed in v3.1.2.

[2017-06-21 20:23] MicheleBertoli commented on #35
I'm not a `storybook` expert but it seems right, and it works as expected.

Nit: You could avoid passing the second param to the `create` method:
`const tree = renderer.create(storyElement).toJSON()`

I'm about to rewrite the docs with v4, do you mind if I reference your repo as an example of how to use this package with `storybook`?

[2017-06-21 22:50] wongterrencew commented on #35
Of course I don't mind! :)

P.S. I'll do the nit fix

[2017-06-22 00:16] vamsiampolu commented on #33
Another question that might be important, where do we need to import `jest-styled-components`, do we import it once per `.spec` file or do we  configure it elsewhere?

[2017-06-22 09:32] jonedge opened #38 "RFH: How to use this test library with themes"
Hi there

I'm looking to use this to test my styled components, but cannot seem to figure out the best solution to provide my theme using theme provider.

can you advise ?

[2017-06-22 17:11] MicheleBertoli commented on #33
Hello @vamsiampolu, thanks for your questions.

1. if you want to use the package "globally" (i.e. in more than one test) then it's worth importing it using Jest's [setupTestFrameworkScriptFile](https://facebook.github.io/jest/docs/configuration.html#setuptestframeworkscriptfile-string).

2. what `jest-enzyme-serializer` does is [requiring](https://github.com/rogeliog/jest-serializer-enzyme/blob/m

[2017-06-22 19:44] #33 closed

[2017-06-22 20:38] MicheleBertoli commented on #38
Hello @jonedge, thanks for your question.

To test components wrapped into a `ThemeProdiver` I would use the `react-test-renderer` with the `toMatchStyledComponentsSnapshot` matcher.

For example, given this component:

[code]

And the following test:
[code]

This is going to be snapshots:
[code]

[2017-06-22 20:38] #38 closed

[2017-06-23 13:04] jonedge commented on #38
Thanks @MicheleBertoli, that was a huge help.

For anyone who comes across this in future, I've also been using the following to check that specific styling is being applied:

[code]

[2017-06-27 20:41] codeangler commented on #38
would it be different for use of styled-components ```withTheme```?

`import React from 'react';
import PropTypes from 'prop-types';
import { Col, Row } from 'react-styled-flexboxgrid';
import styled, { withTheme } from 'styled-components';
import User from 'react-icons/lib/fa/user';
import Hamburger from 'react-icons/lib/fa/bars';
import logo from '../../../shared/assets/images/logo.svg';

const

[2017-06-27 22:23] codeangler commented on #38
so I changed the last line in my test to:

[code]

[2017-06-30 16:18] MicheleBertoli commented on #38
Hello @codeangler, you are already exporting your `Header` wrapped into `withTheme` so you shouldn't need to wrap it again.
Can you please provide more information about what's the current behaviour and what you would expect?
Thanks!

[2017-07-06 20:34] jasongaare opened #42 "Cannot simulate events with Enzyme"
Using React Native, before I styled my components, I was able to run this code to simulate the toggling of switches:

[code]

Now with my styled-component, I am able to find the required children, but cannot seem to simulate the `valueChange` function anymore. **_(I simply replaced 'Switch' with 'Styled(Switch)' and the `render.find` was able to locate the correct elements.)_**

Any ideas how I ca

[2017-07-07 15:56] MicheleBertoli commented on #42
Hello @jasongaare, your question is not really related to this package but I'm happy to help.
AFAIK there are no problems in simulating events with `enzyme `and `styled-components`.

I tried to repro the issued you described and it worked:

[code]

[2017-07-07 15:56] #42 closed

[2017-07-09 17:07] jasongaare commented on #42
Thanks for you reply. You solution doesn't really help me however, as you might note from my post, this is in React Native, not just React. My components are styled and serialized with enzyme and styled-components. However the method you described does not work as you claim it does.

I can move this discussion elsewhere, however I do believe it you're mistaken and the issue does pertains directly

[2017-07-09 18:38] MicheleBertoli commented on #42
@jasongaare please provide a non-working example and I'll be happy to fix it.

[2017-07-10 06:45] MicheleBertoli commented on #42
Hello @jasongaare, I'm not sure why you think that a problem related to `enzyme` should be addressed in this repo but if you provide a non-working example I'll be happy to help.

My snippet above uses `styled-components` (see `styled`) and `enzyme` (see `shallow`) and it works as expected. Also, there should be no difference with `react-native`.

[code]

[2017-07-10 14:25] jasongaare commented on #42
Thanks for your help. I apologize for being a bit defensive, but I figured if anyone could help they would be someone familiar with `jest` and `styled-components` and this seems like the place. I can also gladly move my question to StackOverflow.

Here's the relevant code:

    const OptionSwitch = styled.Switch`
      align-self: center;
    `;

in the render of CameraSettings:

    <OptionSwitch

[2017-07-10 15:17] dlebedynskyi opened #43 "Ava support?"
Hi,
First thanks for this project. It seem to be the only way now to test styled components.
 I was wondering if there is any chance that you guys could support [ava](https://github.com/avajs/ava) as well?

[2017-07-11 05:53] MicheleBertoli commented on #42
Hello @jasongaare, I tried to repro the issue on RN using parts of your code and it still works.

Does the following test pass in your environment?

[code]

[2017-07-11 05:54] MicheleBertoli commented on #42
Hello @jasongaare, I tried to repro the issue on RN using parts of your code and it still works.

Does the following test pass in your environment?

[code]

[2017-07-11 06:21] MicheleBertoli commented on #42
Hello @jasongaare, I tried to repro the issue on RN using parts of your code and it still works.

Does the following test pass in your environment?

[code]

If this works (it should) it means there are no problems in simulating events but you have a different tree, and you need to `dive` a bit more.
`console.log(wrapper.debug())` might also help.

[2017-07-11 19:37] lgraziani2712 opened #44 "Issue with CircleCI"
Hello, I'm having trouble with the snapshot testing and I don't know what to do 😭.

Dependencies:

- styled-components@2.1.1 (also tried with @2.1.0)
- babel-plugin-styled-components@1.1.7 (also tried with @1.1.4)
- jest@20.0.4
- jest-styled-components@3.3.1 (also tried with @3.1.2)

In my own PC (win10) it works everything OK. But when CircleCI executes the tests, it throws the following diff:

[

[2017-07-12 13:00] codeflyer opened #45 "JavascriptHeap out of memory error"
I've added the jest styled component 4.0.0-8 in a project an works with some test but if I run the full suite I receive this error:

[code]

I'll try to isolate the error and reproduce it in an open source environment.

[2017-07-12 14:50] MicheleBertoli commented on #45
Interesting, thanks @codeflyer.
This doesn't sound right and having a minimal example to repro the issue would help a lot.

[2017-07-12 14:52] MicheleBertoli commented on #44
Interesting, thanks @lgraziani2712.
I've never seen anything similar, I'll investigate further and let you know.

[2017-07-12 14:55] MicheleBertoli commented on #43
Thanks @dlebedynskyi, I'm glad you find this package useful.
If AVA supports custom matchers and serializers, I guess it wouldn't be hard to port the project.
I'll investigate further and let you know.

[2017-07-12 14:58] MicheleBertoli commented on #44
Interesting, thanks @lgraziani2712.
I'm sorry you're having trouble with the package.
I've never seen anything similar, I'll investigate further and let you know.
Any additional information, repro steps or code examples are more than welcome.

[2017-07-12 14:59] MicheleBertoli commented on #44
Interesting, thanks @lgraziani2712.
I'm sorry you are having troubles with the package.
I've never seen anything similar, I'll investigate further and let you know.
Any additional information, repro steps or code examples are more than welcome.

[2017-07-12 19:47] dlebedynskyi commented on #43
@MicheleBertoli I looked over code you have, and `toHaveStyleRule` is basically a bool match. Ava serializer basically takes any json. Was looking myself in possibility of extracting all not jest specific  code( https://github.com/styled-components/jest-styled-components/blob/master/src/index.js#L11).
other then those 2 lines it should all work the same

[2017-07-12 20:13] lgraziani2712 commented on #44
Thank you for your response @MicheleBertoli!

This is the latest failing CI report: https://circleci.com/gh/lgraziani2712/codimo/26
The following code is from this file: https://github.com/lgraziani2712/codimo/blob/master/src/components/FrontPage.jsx#L36

[code]

This is the Snapshot result from my PC:

[code]

I tried deleting my node_modules and the CI's cache.

[2017-07-14 20:12] codeangler opened #46 "shared __snapshots__ on repo"
This is a question.

When I switch to a team member's branch, then run test all snapshot test fail, after passing locally.  Though looking at the error it is just the class hash that's changed.   Should we be including or not including __snapshots__ to not be getting errors while using jest-styled-component for snapshots? or are we missusing  jest-styled-components

[2017-07-15 07:01] MicheleBertoli commented on #46
Hello @codeangler, you'll be happy to know that we are addressing the issue in #29 and the [solution](https://github.com/styled-components/jest-styled-components/pull/31) will be shipped over this weekend :)

[2017-07-15 07:02] MicheleBertoli commented on #46
Duplicate of #29

[2017-07-15 07:02] #46 closed

[2017-07-15 11:35] MicheleBertoli commented on #29
🙌 v4 is out
Thanks to everyone!

[2017-07-15 11:35] #29 closed

[2017-07-15 22:58] stephencroberts opened #47 "Matcher for checking existence of property"
Would you consider a pull request that either adds a matcher or modifies `toHaveStyleRule` to check the existence of a css property rather than a value? I'm writing a series of tests to ensure a collection of components adhere to some standards, so I want to write a test similar to:

[code]

to ensure components don't have any margin defined.

It could be added to `toHaveStyleRule` without a break

[2017-07-16 03:27] cameronmcefee opened #48 "broken snapshot value when className === tag name"
Hi there! I think I may have found a bug. Given the following component:

[code]
And the following test:

[code]

the following output will be generated:

[code]
Note the missing element name in the snapshot. This appears to happen when the `className` matches the tag type. I tested with text inputs (classname "input") and textareas.

To confirm it was a conflict of class/tag, I tried changing the

[2017-07-16 05:12] #48 closed

[2017-07-16 05:14] MicheleBertoli commented on #48
Thank you very much @cameronmcefee.
Good catch, and perfect information + repro steps in the issue.

This is fixed in 4.0.1:
[code]

[2017-07-16 05:18] MicheleBertoli commented on #47
This would be an interesting addition to the current matcher, thanks @stephencroberts.
Looking forward to receiving a PR.

[2017-07-16 05:22] stephencroberts commented on #47
@MicheleBertoli Thanks for the quick response. I actually just discovered I can cover the use-case using a regular expression:

[code]

If anyone else would find a more specific matcher useful, I'd be happy to still do a PR.

[2017-07-16 09:45] MicheleBertoli commented on #44
Hello @lgraziani2712, I found out that the root cause is the minifcation process of [babel-plugin-styled-components](https://github.com/styled-components/babel-plugin-styled-components).
I [opened a PR](https://github.com/lgraziani2712/codimo/pull/45) on the original repo for your convenience, feel free to merge or close it.
Also, you should upgrade `jest-styled-components` to v4 to avoid the clas

[2017-07-16 09:45] #44 closed

[2017-07-16 09:51] MicheleBertoli commented on #47
@stephencroberts unfortunately this trick doesn't seem to work.

The following test passes because it compares `/.*/`and `'4em'`.

[code]

[2017-07-16 14:43] MicheleBertoli commented on #43
Unfortunately, it doesn't seem that ava exports any serialization-related API at the moment (I asked on Gitter) but I'll take a look at the project and I'll try to figure how to write a plugin for concordance.
As soon as they'll support extensions and plugins, I'll get back to this.
I'm closing the issue for now. Thanks!

[2017-07-16 14:43] #43 closed

[2017-07-17 16:56] guioconnor opened #49 "No placeholder classes generated"
While using the library, it seems all the classes on the component are replaced by an empty string, those created by StyledComponents as well as any other.

![image](https://user-images.githubusercontent.com/35854/28279487-849ec046-6b18-11e7-8a1d-a4416dab9ab5.png)

Package.json
[code]

Test file
[code]

[2017-07-18 06:54] MicheleBertoli commented on #49
Hello @guioconnor, the new version of this packages strips out all the class names that don't have any style rules attached to them.
In your case, that's ok for the non-styled-components classes, but I would expect the styled-components ones to be replaced by a placeholder.
Any chances you could provide a minimal non-working example? That would help a lot.
Thanks!

[2017-07-19 08:24] guioconnor commented on #49
Thanks @MicheleBertoli, at a glance I find it counter productive to remove the classes for non styled components. The snapshot above is a good example of how difficult to read a component snapshot becomes without its classes. Dropdown, header and body become generic `<div>`s  and unintended changes on them may become more difficult to notice.

As for the styled components, I'll take an educated gu

[2017-07-20 09:33] yanawaro opened #51 "Sometimes getClassNames throws error"
I've been using some of my own code to test styles on styled-components v1 before, now migrating to v2 and came across this library. As far, Migrating test and I really like it. 👍  But I went into this issue.

With reference with this line of code in getClassNames function
https://github.com/styled-components/jest-styled-components/blob/master/src/toHaveStyleRule.js#L11

Using ```.find('[className

[2017-07-20 09:48] rsouthgate commented on #49
Tried this with the minimal example in the readme on 4.0.3:
[code]
snapshot gets classname stripped
[code]
and test fails on second assertion:
[code]

[2017-07-20 10:10] MicheleBertoli commented on #49
@rsouthgate I can't repro the issue with v4.0.3.

When I run the code above, I get:

[code]

[2017-07-20 10:13] yanawaro opened #52 "toHaveStyleRule pseudo classes support"
I like using toHaveStyleRule more than using snapshots for testing. I was running tests that includes assertions of media queries. But found out that the code doesn't includes rules from media queries. So I modified to get it working adding a function to get it like

[code]

I could get it up and running as for now, but a new problem arises. It combines the rules so ordering has effect. The last o

[2017-07-20 10:28] MicheleBertoli commented on #49
@guioconnor thanks to @ruyadorno, the package now preserves the custom class names.

The problem is now solved, but to get the most out of this package I'd suggest you to use it for testing single components (e.g. Button) rather than the entire tree.
The snapshots will be less noisy and more useful.

[2017-07-20 10:28] #49 closed

[2017-07-20 10:30] MicheleBertoli commented on #48
In v4.1.0, the custom class name is preserved as well:

[code]

[2017-07-20 10:45] guioconnor commented on #49
Thanks @MicheleBertoli. Awesome.

I couldn't yet solve the other issue, also mentioned by @rsouthgate, at least I'm glad to see I'm not alone. I'm going to poke the problem more and report back on it with my findings.

[2017-07-20 10:53] MicheleBertoli commented on #49
Sure! Please open a new issue as soon as you have a non-working example.
Thank you very much!

[2017-07-20 10:53] MicheleBertoli commented on #49
Sure @guioconnor! Please open a new issue as soon as you have a non-working example.
Thank you very much!

[2017-07-20 11:09] MicheleBertoli commented on #51
Hello @yanawaro, any chances you could provide a non-working example? or the output of `wrapper.debug()`?
To me, it seems that the first `find` doesn't actually find anything in your case.

In general, performing a second `find` is not a problem.
For example, the following code works:

[code]

Also, I tend to avoid using the internals whenever it's possible.

[2017-07-20 11:15] MicheleBertoli commented on #52
This a pretty cool idea, thanks @yanawaro.

I like this signature:
[code]
And I'll be happy to review and merge a PR :)

[2017-07-20 12:17] MicheleBertoli commented on #45
I'm closing this due to inactivity, please re-open it as soon as you can provide a non-working example.
Also, I was able to [test the components of the website](https://github.com/styled-components/styled-components-website/pull/61) without any memory issue.
Thank you very much @codeflyer.

[2017-07-20 12:17] #45 closed

[2017-07-20 13:38] yanawaro commented on #51
@MicheleBertoli from last comment, I prefer not using the internals too 👍 .  Let's see if this is a problem and how can we fix.

I think I found something. Not sure if it has something to do with using the styled-components overriding api.
And not sure if ```.find('[className]').first().prop('className')``` works in these situation.

Ex1: I ran this basic example which produces the same errors as

[2017-07-20 14:37] MicheleBertoli commented on #51
Thank you very much for the comment and the examples @yanawaro.

If you apply the `styled` function to a component that doesn't accept the `className` prop, no styles are applied to it. Therefore the test (1) doesn't pass, while the (2) passes. This is the expected behavior.
Maybe we can handle the case on the library side and show a better error message.

In the example (3) again the component do

[2017-07-20 14:49] MicheleBertoli commented on #51
Thank you very much for the comment and the examples @yanawaro.

If you apply the `styled` function to a component that doesn't accept the `className` prop, no styles are applied to it. Therefore the test (1) doesn't pass, while the (2) passes. This is the expected behavior.
I'm going to handle the case on the library side and show a better error message.

In the example (3) again the component do

[2017-07-20 14:56] MicheleBertoli commented on #51
In v4.1.2, the example (1) now gives:

Thank you very much!

[2017-07-20 14:56] #51 closed

[2017-07-20 15:30] stephencroberts commented on #47
@MicheleBertoli Yes, I just realized this morning after upgrading to a newer version that regular expression matchers are no longer supported. Could we possibly add that back in? It solves a number of different use-cases for me. It was working in v3.0.2, not sure when it was removed.

[2017-07-20 16:35] MicheleBertoli commented on #47
Sure @stephencroberts, v4.2.0 supports RegExp.
Thank you very much!

[2017-07-20 16:35] #47 closed

[2017-07-20 22:38] bessey commented on #44
This also bit me, on Travis. I'd like to understand the root cause so I can patch `babel-plugin-styled-components` to not behave differently between dev and CI. @MicheleBertoli do you know where in `babel-plugin-styled-components` a different path is being taken on CI? I can't see any references to `process.env` in their repo, so not sure what they're doing?

[2017-07-20 23:10] rsouthgate commented on #49
@MicheleBertoli I stripped it out of the project  I was working on into a minimal dependency setup and yes, it works as you showed. The other project uses Lerna - so I'm thinking the dependency hoisting might be breaking something... I'll investigate and update here if I figure out what is causing the issue. @guioconnor Don't suppose you are using lerna where you are seeing the same issue?

[2017-07-21 06:57] yanawaro commented on #51
@MicheleBertoli Sorry for commenting on a close thread.

Thanks for you explanation! I now understand and agreed with behavior with passing thru / not passing thru classnames. Because if using the override api, should work on overriding other styled components. But creating our own components it's right to pass thru classname prop.

I've been trying to reproduce this error, It seems that I only ha

[2017-07-21 08:10] MicheleBertoli commented on #44
@bessey it very likely has something to do with the configuration, all the options should be in the `.babelrc`.

[2017-07-21 08:11] MicheleBertoli commented on #49
This is interesting, thanks @rsouthgate.
If you have a way to repro the issue consistently with Lerna, I'd really love to check it out.

[2017-07-21 08:25] MicheleBertoli commented on #51
This is weird, and I wouldn't expect it to happen - especially with `mount`.

Also, I tried to repro the issue with the code you provided:

[code]

And when I log the output of the debug function:

[code]

I get this, which seems right.

[code]

Maybe the problem is somewhere else.

[2017-07-21 08:49] yanawaro commented on #51
@MicheleBertoli Thanks for your help, I'll try to see further what went wrong. :joy:

[2017-07-21 10:56] rsouthgate commented on #49
@MicheleBertoli I can't tell why it's happening but I can tell how it's happening. In the lerna structure the root package.json has a devDependency of styled-components: ^2.1.1 (and jest-styled-components: ^4.0.3). Within the package with the test that produces this error there is a package.json with a dependency of styled-components: ^2.1.1. If I remove the dependency from the package's package.j

[2017-07-22 00:14] rsouthgate commented on #49
@MicheleBertoli Just to follow up... if I explicitly bootstrap lerna with --hoist (so styled-components gets symlinked to the root version) the problem is fixed. The only implication for me is that current lerna hoisting only works with npm4 but for now that's good enough for me. I imagine this is a problem with something lerna is doing rather than anything either jest-styled-components or styled-

[2017-07-23 00:42] cameronmcefee opened #53 "`className` with trailing space breaks output"
Given the following component:

[code]
and the following test:

[code]

The following snapshot is generated

[code]

Note the space in the `className` of the component. I discovered this in a component that has a conditionally added class. I can solve the don't-end-with-a-space problem a handful of ways on my end, but this feels like something that probably would be considered a bug.

In larger co

[2017-07-23 00:49] cameronmcefee commented on #53
I imagine it has something to do with [this](https://github.com/styled-components/jest-styled-components/blob/master/src/styleSheetSerializer.js#L18), which splits on '\s'. That would give you an empty item at the end of the array if it ends with a space, and probably also chokes if multi-spaces are present too.

[2017-07-23 06:46] #53 closed

[2017-07-23 06:47] MicheleBertoli commented on #53
Thank you very much @cameronmcefee.
Good catch, and useful information in the issue.
This is fixed in v4.2.1.

[2017-07-23 18:57] TAQ2 opened #54 "Changelog?"
Hello, thanks for reading.

Just wondering if you have a changelog? I couldn't find one but perhaps you keep it somewhere I have not looked.

Thanks!

[2017-07-23 19:22] MicheleBertoli commented on #54
Thanks for your question, @TAQ2.
At the moment there's no changelog.
You should be able to find all the information in the commit messages (I know it's not ideal), and if you have any more questions please ask.

I'm following semantic versioning and the biggest breaking change we introduced so far was in v4, when we removed the `toMatchStyledComponentsSnapshot` matcher and replaced the hashed clas

[2017-07-23 20:29] MicheleBertoli commented on #54
[Here we go](https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md).
Thanks @TAQ2.

[2017-07-23 20:29] #54 closed

[2017-07-23 21:14] TAQ2 commented on #54
Wow a speedy reply and result. Thanks very much!!

[2017-07-24 00:30] rsouthgate commented on #52
In the same vain it would be good to be able to query pseudo styles like :focus, :disabled, :readonly etc... to be generic would it make more sense to expect the signature to be:

[code]
or
[code]
admittedly, not great readibility with all the escaped ticks... could the third arg be a generic selector instead of a media query?

[2017-07-24 09:34] davecarlson opened #55 "snapshot parse errors"
It seems the new 2+ versions of this package are snapshotting incorrectly ( just a load of c0 etc )

Tests:
[code]

Snapshot created:
[code]

Component:
[code]

Styles:
[code]

[2017-07-24 09:41] davecarlson commented on #55
It seems to be something to with passing classname. If I remove:
```className={`card-title ${className}`}```, then it snapshots correctly.

[2017-07-24 10:00] MicheleBertoli commented on #55
Hello @davecarlson, thanks for opening this issue.
Are you using 4.2.1? I fixed a similar issue just [yesterday](https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md#421---2017-07-23).
Please let me know, otherwise I'll be happy to look into it.

[2017-07-24 10:01] davecarlson commented on #55
```4.2.0```, I'll check with 4.2.1 now :)

[2017-07-24 10:12] davecarlson commented on #55
Nope, still the same.

Here's a simpler component that it happens on:

[code]

[code]

[code]

[2017-07-24 10:15] davecarlson commented on #55
I can update my code to use the  `classnames` package, but I think there's a small issue in the pattern matcher that's causing this ( and probably for other people too ) - I only noticed it when I came to update a component & saw the old snap

[2017-07-24 10:56] MicheleBertoli commented on #55
Awesome, thank you very much for the useful information @davecarlson.
This is fixed in 4.2.2.

[2017-07-24 10:56] #55 closed

[2017-07-24 11:52] MicheleBertoli commented on #52
Oh yeah @rsouthgate, I like the third parameter because we can use it for different purposes.

For example:
[code]

Or even combine them:
[code]

[2017-07-24 14:14] guioconnor commented on #49
I haven't dug into the problem yet because I'm not currently working on the package that has this issue but my project is also Lerna-based, so whatever the problem is, seems to be related to the use of Lerna.

[2017-07-24 17:22] yanawaro commented on #52
@rsouthgate its possible, Need to add little more filters to get the pseudo rules for that classname only :yum:.

@MicheleBertoli If adding support psuedo rules, we need to modified the ```hasClassNames``` function to support or just define something new like ```hasPseudo``` due to the pseudo styles when parsed it looks like this.

![screen shot 2017-07-25 at 12 15 58 am](https://user-images.githu

[2017-07-25 13:00] joetidee opened #57 "Is toMatchStyledComponentsSnapshot now deprecated?"
I have just updated from version 3 to the latest, so is the function `toMatchStyledComponentsSnapshot` now deprecated?

[2017-07-25 13:11] MicheleBertoli commented on #57
Oh yes @joetidee, please see [here](https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md#400---2017-07-15).
The `toMatchStyledComponentsSnapshot` matcher has been removed, and you can just use the regular `toMatchSnapshot` now.

[2017-07-25 13:11] #57 closed

[2017-07-25 21:06] MicheleBertoli commented on #52
@yanawaro oh yeah, or even something like:

[code]

[2017-07-27 11:03] mbasso commented on #52
@MicheleBertoli I've developed a feature like that in [styled-components-test-utils](https://github.com/mbasso/styled-components-test-utils#tohavestylerule). If you want to take a look, I think that you might find some interesting code to do this 😄

[2017-07-28 08:40] MicheleBertoli commented on #52
Nice, thanks @mbasso.
Unfortunately, you forked an older version of the matcher (which has been recently rewritten) so I don't believe we'll be able to reuse the code.

Also, it's a shame you didn't reach out before investing time in your repo, we could have built something great together : )
Users have now to packages with some overlapping features and different APIs, which is going to generate c

[2017-07-28 08:54] mbasso commented on #52
You're right, if you agree we can organize us too build something together. It would be great to have a single and complete library to test styled-components, it might help a lot of people.
If you want to do that, please let me know :)

[2017-07-28 23:07] newswim opened #58 "Formating removed when updating snapshots"
Hi @MicheleBertoli

I'm sorry this might not the fault of this project, but the names `jest` and `styled-components` have been giving me grief and I hoped you had maybe see this happening.

It seems to have something to do with the environment that the tests are running in. I'm using yarn, but encountering issues where a space character is getting removed:

<img width="650" alt="screen shot 2017-0

[2017-07-29 06:33] MicheleBertoli commented on #58
Hello @newswim, this seems related to #44.

Are you using [babel-plugin-styled-components](https://github.com/styled-components/babel-plugin-styled-components)?
If the answer is yes, please check out this [PR](https://github.com/lgraziani2712/codimo/pull/45) and see if it solves your problem as well.

[2017-07-29 06:47] MicheleBertoli commented on #52
This is no one's fault, there's always time to build something better together :)
Let's discuss this in a separate [issue](https://github.com/mbasso/styled-components-test-utils/issues/2).

[2017-07-29 06:49] MicheleBertoli commented on #52
This is no one's fault, there's always time to build something better together :)
Let's discuss it in a separate [issue](https://github.com/mbasso/styled-components-test-utils/issues/2).

[2017-07-29 08:57] newswim commented on #58
Hey thanks for that link! I'm not using the babel-plugin on this project, though.

I had some luck after upgrading several eslint dependencies. There's still an issue where mock data is subbing a `%20` rather than a space, and leading spaces for css rules with multiple arguments is getting stripped, but at least Travis is producing the same snapshots.

I would rather the generated snapshots retain

[2017-07-29 12:13] MicheleBertoli commented on #58
I see, the important thing is that snapshots are consistent across the different environments.
Please let me know if you need more help, and I'll be happy to know the root cause of the problem in case you find it.
Thanks!

[2017-07-29 12:13] #58 closed

[2017-07-31 09:46] MicheleBertoli commented on #52
The media query support has been shipped, thanks to @yanawaro.
Please let me know if you'd like to work on the pseudo classes support as well.

[2017-07-31 23:19] rowanwork opened #59 "Question: Failure to change class names and odd CSS property names"
I am running my tests via the addon for Storybook (Storyshots).

Some of my Snapshots started failing a few days after using jest-styled-components (have just upgraded to 4.3 and there is no change). I have noticed that it doesn't seem to be intercepting all of the styled components class names (since the hash has changed on some snapshots and is not getting converted to something like `c0`).

I h

[2017-08-01 05:55] MicheleBertoli commented on #59
This is pretty weird, thanks for opening the issue @rowanwork.
If you could provide a non-working example that'd be great.

[2017-08-01 06:50] yanawaro commented on #52
@MicheleBertoli Sure, I can submit a PR for enhancing with pseudo classes as soon as possible.

[2017-08-01 08:58] MicheleBertoli commented on #52
Yay, thanks @yanawaro.

[2017-08-03 09:59] davidka commented on #18
@CosminIonascu Does it work with you now?
I can't import it in a typescript file

[2017-08-03 10:32] CosminIonascu commented on #18
Yes, I created a global.d.ts file and added
declare namespace jest {
    interface Matchers {
        toMatchStyledComponentsSnapshot(snapshotName?: string): void;
    }
}

[2017-08-03 11:03] davidka commented on #18
How does your import looks like? Could You give me an example please?

[2017-08-03 12:18] MicheleBertoli commented on #18
Hello @davidka @CosminIonascu, thanks for your comments.

Just to clarify:
- we do have a ts file: https://github.com/styled-components/jest-styled-components/blob/master/src/index.d.ts (please let me know if it works for you)
- we do NOT have the `toMatchStyledComponentsSnapshot` matcher anymore (see https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md#400---2017-0

[2017-08-04 20:22] nezed commented on #58
Had the same issue because i've made snapshots using `styled-components@2.0.1`, but CI installs `styled-components@2.1.2`.
Solved by upgrading `styled-components` and regenerating snapshots.

[2017-08-07 14:44] philpl opened #61 "Add a helper to quickly provide a theme context w/o the ThemeProvider HOC"
There have been a lot of workaround and a lot of confused users around how to test theming.

https://github.com/styled-components/styled-components/issues/624

The general problem is that wrapping a StyledComponent element in the ThemeProvider is not acceptable as it won't allow access to all enzyme methods for example.

Thus it's desirable to write a quick helper that creates a theme context or s

[2017-08-07 19:46] morajabi commented on #18
maybe ts-jest repo should help you?

[2017-08-08 02:00] gloorx opened #62 "Doesn't work"
[code]

[code]

This is my jest.config.js
[code]

[2017-08-08 03:04] JimmyLv commented on #61
Hi philpl, what do you mean add `theme` prop in enzyme in https://github.com/styled-components/styled-components/issues/624#issuecomment-320680806? Could you please give me a example?

[2017-08-08 14:03] philpl commented on #61
@JimmyLv This approach indeed doesn't work for `withTheme` since it requires a theme context, as otherwise it's not serving its purpose. I suggest you use the unwrapped version of your component in your test to pass the `theme` prop manually for now.

But this is a nice example of why a helper for adding the theme context would be nice and can't always be replaced by just passing the `theme` prop

[2017-08-08 14:26] joetidee opened #63 "New style of classes not showing after upgrading."
I have just upgraded to 4.2.1 , but the new static classnames are not being generated. Is there anything else that I need to do in order to get them working, like update my current snapshots?

[2017-08-09 09:22] duro commented on #62
@gloorx Just FYI, I set this up on my project today with no problem. I am using create-react-app, so my config is different than yours, but I can say for sure that the blanket statement of `"Doesn't work" !== true`

[2017-08-09 19:33] duro opened #64 "Using toHaveStyleRule on nested classes"
I havn't been able to find any documentation on using `toHaveStyleRule` for checking properties on nested classes.

Let's say I have a stylesheet for a styled component that looks like this:

[code]

How would I check for a style rule on `label` or `.placeholder`?

[2017-08-09 20:25] MicheleBertoli commented on #61
Thanks for opening the issue @philpl, I agree this repo is the right place to discuss testing and I'm more than happy to think about a solution.

[2017-08-09 20:30] MicheleBertoli commented on #63
Hello @joetidee, it's hard to give you a proper answer without seeing a bit of code.
What should happen would be that when you run the tests for the first time with v4 (coming from v3), ALL your snapshots fail because of the new static class names.
At that point, you just press `u` and you are good to go again.

Please let me know if you can provide more details, I'll be happy to help.

[2017-08-09 20:30] MicheleBertoli commented on #63
Hello @joetidee, it's hard to give you a proper answer without seeing a bit of code.

What should happen would be that when you run the tests for the first time with v4 (coming from v3), ALL your snapshots fail because of the new static class names.
At that point, you just press `u` and you are good to go again.

Please let me know if you can provide more details, I'll be happy to help.

[2017-08-09 20:37] MicheleBertoli commented on #62
Thanks @gloorx for opening the issue, and thanks @duro for confirming that the library actually works. The tests are still green on this repo :)

I tried to run your code @gloorx and I can confirm it works as expected, the problem is more about what shallow rendering actually does.
In fact, shallow rendering renders the components one level deep which means that your `Wrapper` is rendered as a `st

[2017-08-09 20:37] #62 closed

[2017-08-09 20:43] MicheleBertoli commented on #64
Interesting question, thanks @duro.
At the moment it's not possible, but it would be a very interesting addition.
cc @yanawaro

[2017-08-09 21:38] joetidee commented on #63
Thanks Michele. We did update the templates, however, we couldn't see the new template format coming through in the new templates that were generated. In the end, the only way we got the new templates to come through was to place the `import 'jest-styled-components';` after all our other imports. Not sure why this would need to be the case (?)

[2017-08-10 17:16] yanawaro commented on #64
@duro This could be possible with a little more modification of using modifiers.
(Awaiting merge on https://github.com/styled-components/jest-styled-components/pull/60 😂 )

@MicheleBertoli I experimented and could get this test passed based on PR https://github.com/styled-components/jest-styled-components/pull/60 code
[code]

When using nested selectors, the rules classnames has a gap like
```[ '.

[2017-08-11 15:50] MicheleBertoli commented on #63
I'm happy to hear it worked : )

[2017-08-11 15:50] #63 closed

[2017-08-11 15:50] MicheleBertoli commented on #59
Any news about this issue?
Thanks!

[2017-08-11 16:01] MicheleBertoli commented on #64
You are awesome @yanawaro, thanks!

As you know I love our minimalistic approach, but it seems wrong to me to ask developers to include the space in the "modifier". I'd rather implement little bit complex solution which can find the matches applying an optional space.

A `nested` or `child` option would work but I also love your last example where you pass the child to expect and then search for t

[2017-08-14 13:27] janjaap opened #65 "Whitespace in media query expression is removed"
I am trying to test a component that renders one or more media queries.

The query I'm rendering:
[code]

My test looks like this:
[code]

The function `mediaQuery('xsmall')` renders said media query. The test, however, fails.
I found that the snapshot prints the media query as `@media only all and (max-width:599px)` instead of the expected `@media only all and (max-width: 599px)` (notice space be

[2017-08-14 18:24] shaman-apprentice opened #66 "toHaveStyleRule with enzyme"
first of all: I really like the idea of testing styled-components and thanks for sharing this project!!

I did a very simple test project, to try it out and I would like to use it with enzyme, because I love their _find_-API and so on...

I did a very simple test as follow:
[code]
The 2. and 4. tests are failing with _Property not found: "background-color"_, which they shouldn't from my understand

[2017-08-14 23:47] rowanwork commented on #59
I have not had any luck getting creating a new basic standalone failing test or isolating the failures to just one test.

For example one failing test had something like:

[code]

But if I remove all other tests then the failing test starts to look more reasonable:
[code]

So something very weird is happening as I start to add more tests.

There does seem to be a common theme though where the lett

[2017-08-15 13:16] MicheleBertoli commented on #65
Hello @janjaap, I tried running the following code and it worked.

[code]

And this is the snapshots.

[code]

I think the problem is in your `mediaQuery` function because your original query is `@media only all and (min-width: 600px)` while in your snapshot you have a different one `@media only all and (max-width: 599px)` (see: 600 vs 599).

I hope this helps.

[2017-08-15 13:16] #65 closed

[2017-08-15 13:30] MicheleBertoli commented on #66
Hello @shaman-apprentice, thanks for providing a non-working example.

I found the issues with your code:

1) you need `toJson` only if you are using Snapshot Testing (the following tests work):
[code]

2) the `<div className="here">` element doesn't have the `background` rule so it's expected to fail.

I hope this helps.

[2017-08-15 13:30] #66 closed

[2017-08-15 13:31] #52 closed

[2017-08-15 21:14] MicheleBertoli opened #67 "Add global installation information"
See https://twitter.com/jxnblk/status/897534170116886528

[2017-08-17 09:18] igl opened #69 "Style rules are always included"
Is it possible to have only the class names substituted?

It makes no sense to me to include all css rules in the snapshot.
I rather have explicit toHaveStyleRule checks for important changes.

- Whenever i have a change in my theme-file i break **all** tests, all the time.
- When i break all tests all the time i get lazy.
- When i (or my coworkers) get lazy i press and hold-down U
- This is very

[2017-08-17 19:57] MicheleBertoli commented on #59
This is definitely a class named `i` that breaks the serializer.
It'd be fantastic to have a non-working example to debug.

[2017-08-17 20:13] MicheleBertoli commented on #69
Hello @igl, this is an interesting question.
I strongly believe snapshots should fail when things change.
In particular, styled components snapshots should fail when the style changes (that's why I decided to put the style to the snapshots in the first place :)).
That said, if your problem is only related to themes you might want to consider [mocking](https://facebook.github.io/jest/docs/jest-obje

[2017-08-17 20:13] #69 closed

[2017-08-18 05:17] rowanwork commented on #59
I have a single test that is failing. It seems to be caused by having a class name that is just a single character:

[code]

It fails with:
[code]

[2017-08-18 07:40] MicheleBertoli commented on #59
Thanks for the non-working example, I've been able to repro the issue and I'm fixing it.

[2017-08-19 06:30] #59 closed

[2017-08-19 06:43] MicheleBertoli commented on #59
Fixed in [4.4.1](https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md#441---2017-08-19).
Thank you very much!

[2017-08-22 18:26] tleunen opened #70 "How does this behave in 2 SC projects using together"
Just a question, not a bug @MicheleBertoli. I'm evaluating using SC and especially this jest plugin to make it work better since SC is changing the css classnames too many times (even sometimes when no css has changed).

Lets say I'm using a UI library (MyCustomBootstrapUI), which is built using styled-components.

I have my own app, called MySuperApp, which is also using styled-components, with j

[2017-08-23 17:57] joshjg commented on #45
@codeflyer Were you able to find a solution? We are running into the same issue.

[2017-08-23 19:17] MicheleBertoli commented on #45
@joshjg can you please provide a non-working example? I'll be happy to help.
Thanks!

[2017-08-23 19:18] codeflyer commented on #45
I tried again in my codebase today but the error is disappeared. I though was done an update to the lib.
But now that you're telling me this probably the component that was creating the issues was removed from the package (I've used it in a Lerna project and a lot of components are not there anymore)

My component used some external library and wasn't a pure react module. Do you have the same situ

[2017-08-24 20:44] MicheleBertoli commented on #70
Hello @tleunen, thanks for opening this issue.

I strongly believe the greatest benefit snapshot testing provides is telling you when things change.
Therefore, when your UI library is upgraded from 1 to 1.1 you want to know what are the differences with the current output.
However, I can see how this could make the snapshots noisy in some scenario.

I still think snapshot testing would be helpful

[2017-08-24 20:55] tleunen commented on #70
Thanks for the response. I'm just in the process of migrating to styled-components so it was more a question without real testing first. I do believe it will be more useful than the opposite in an app too, so you always know what changes.

[2017-08-24 20:55] #70 closed

[2017-08-25 14:40] greypants commented on #45
I believe the issue is happening for us (@joshjg) when adding
[code]
to `jest.json`. Which is the only way I can seem to get `jest-styled-components` to work. Importing it directly to my test file seems to have no effect. My classes still look like: `class="sc-dxgOiQ fmXHim"`.

[2017-08-27 19:12] MicheleBertoli commented on #45
@greypants would you mind trying with the test renderer (without enzyme) so that we can isolate the cause of the issue?
Please let me know if you need more info/help.
Thanks!

[2017-09-02 17:42] JuanCaicedo opened #71 "Can't import chai's expect"
Hi there! I'm having a problem where I'm not able to import chai's `expect` to make assertions

[code]

If I had to guess, I think it's that this module modifies the expect global, which is overriden by importing chai. Note that the above error can be fixed if you import chai's `expect` with an alias. You would then use the alias for assertions where you want chai's API and the normal `expect` for

[2017-09-04 19:33] MicheleBertoli commented on #71
Thank you very much, @JuanCaicedo.
First of all, I can confirm that this package extends Jest's `expect` and therefore it doesn't work with `chai` at the moment.
However, it would be a great addition and I'll be more than happy to review a PR which fixes the issue :)

[2017-09-04 19:58] #67 closed

[2017-09-05 22:07] dgcoffman opened #73 "CSS classes duplicated and inserted inside tags with Jest 21"
given

[code]

Jest 20 produces snapshot
[code]

Jest 21 produces snapshot

[code]

[2017-09-06 06:36] MicheleBertoli commented on #73
Thank you very much @dgcoffman, this is my next priority.
Fyi, yesterday we pushed a new [version](https://github.com/styled-components/jest-styled-components/blob/ea0f68e32e12b0eb2f17c90032608a38a48c2589/CHANGELOG.md#450---2017-09-05) of the package that makes the `toHaveStyleRule` matcher support v21.
PRs are also welcome :)

[2017-09-07 08:01] yanawaro opened #74 "CSS parser returns different values for matching"
@MicheleBertoli 😃

I encounter that I have 2 projects that installs the same jest-styled-components package but when running the same exact test the CSS parser returns different strings when matching rules.

This is what it should be expected. (Like [test)](https://github.com/styled-components/jest-styled-components/blob/master/test/toHaveStyleRule.spec.js#L152)
<img width="605" alt="screen shot 2

[2017-09-07 11:22] josokinas opened #75 "100% test coverage when using snapshots"
I use Styled Components to add styling without leaking props, something like this:

[code]

Then, I write a test:

[code]

This will do all the necessary testing, however code coverage will show the following report:

<img width="514" alt="Code coverage for TestComponent" src="https://user-images.githubusercontent.com/20243687/30205755-b3d2c528-9481-11e7-989e-13208a3cdfd2.png">

How should I overc

[2017-09-08 05:18] MicheleBertoli commented on #74
Hello @yanawaro, I'm happy to hear from you.
Are you using the `babel-plugin-styled-components` in one of those projects?
We had a similar issue #44 in the past.
Thanks!

[2017-09-08 05:20] MicheleBertoli commented on #75
Thanks for opening the issue, @josokinas.
This is interesting. I'm not a coverage expert but I'll look into this soon

[2017-09-08 10:17] yanawaro commented on #74
@MicheleBertoli I've been a bit busy for a while.

Nope, I didn't use ```babel-plugin-styled-components``` in any of these. So I exclude some other babels plugins but doesn't solve.

[2017-09-09 18:28] MicheleBertoli commented on #73
[v4.6.0](https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md#460---2017-09-09) supports Jest 21.
Thank you very much!

[2017-09-09 18:28] #73 closed

[2017-09-10 07:46] MicheleBertoli commented on #75
I run your code and I found out the "problem" is due to the `shallow` rendering.
In fact, with `shallow` rendering, only the wrapper component is rendered and the `div` never gets executed.

If you try with `mount`, it works as expected.

<img width="553" alt="screen shot 2017-09-10 at 08 41 06" src="https://user-images.githubusercontent.com/1308971/30247132-6f0b124a-9604-11e7-9c03-9a2c0aab8f34.pn

[2017-09-10 07:46] #75 closed

[2017-09-10 16:28] josokinas commented on #75
Thanks.

This actually solves the "problem" by introducing another one.

When using `mount` the whole component (with all children) gets rendered for the snapshot. It's especially problematic when styling 3rd party components - updating that library would fail tests for these snapshots, but most likely does not mean something's breaking on local code. Also, it is then required to mock the document

[2017-09-10 16:38] MicheleBertoli commented on #75
I understand your concerns, even though I usually tend to run snapshots on leaf components (that don't have children).
The "issue" you described affect snapshot testing with React in general, and it's not related to this package.

If you still want to use `shallow` rendering and get 100% coverage, you can use `dive` as follows:
[code]

I hope this helps.

[2017-09-13 13:33] greypants commented on #45
@MicheleBertoli Our issue ended up being a memory leak caused by something in our Jest setup.js file. We were doing the following:

[code]

The problem was that setup runs before every test, and a new `unhandleRejection` listener would get added every time. So our issue was not directly related, though switching to the enzyme-to-json serializer may have increased the memory for each test just enou

[2017-09-16 14:50] MicheleBertoli commented on #45
This is interesting, thank you very much for letting me know @greypants.

[2017-09-25 11:30] chhuang commented on #61
How do you pass the `theme` prop?

[2017-09-26 11:02] MicheleBertoli commented on #61
Hello @chhuang,
Suppose you are testing the following component (which expects a theme):

[code]

If you pass a theme prop to it:

[code]

it works as expected.

[2017-09-26 23:45] chhuang commented on #61
Thanks @MicheleBertoli!

Is it possible to pass the theme to the nested components? e.g. the test will break if I have another component using theme inside `Button`.

[2017-09-27 00:42] Rafael-Ramblas opened #76 "Native test fails"
Hello, noob jest tester here, so srry if my error is basic.
I'm trying to test a React Native Styled Component, but i got the error :
`TypeError: component.type is not a function at Object.<anonymous> (__tests__/Foo.test.js:13:16)`
My file: Foo.test.js
[code]

[2017-09-27 06:45] MicheleBertoli commented on #61
In that case, you can use the `ThemeProvider`.

For example, suppose you have a `Wrapper` component:
[code]

The following test works as expected:
[code]

I hope this helps, @chhuang.

[2017-09-27 10:07] dariobanfi opened #77 "Testing CSS in styled subcomponent"
Hello,

I recently upgraded to React 16 and Enzyme 3.0.0 and jest-styled-components 4.6.0, and it seems this type of test, which before worked, donesn't work anymore:

[code]

C2 has only its own rules and not the inherited ones.
Is this an intended behaviour? Any suggestions?

Thanks in advance for the awesome library!

[2017-09-27 19:57] Kureev commented on #76
Hi @Rafael-Ramblas!

There is no such thing as a "noob question" 😉 All questions are good!
Regarding the topic: I have a gut feeling that the underlying version of Jest has been updated which caused this regression. Need to have a deeper look. Will try to do my best to check it up tomorrow

[2017-09-27 20:55] MicheleBertoli commented on #76
Thank you very much @Kureev.
I can confirm we updated all the deps since we added the matcher.
Feel free to ping me if you need any help/information.

[2017-09-28 09:40] carlkenne commented on #61
@MicheleBertoli one problem with passing the theme as a prop + taking a snapshot is that the whole theme gets caught in the snapshot. If the theme changes (a new color is added) the test will fail, which makes the test very fragile.

[2017-09-28 10:12] MicheleBertoli commented on #61
@carlkenne that's true only if you are rendering the tree using Enzyme, but it doesn't apply to the `react-test-renderer` - which is the recommended way for generating snapshots.

[2017-09-28 10:57] chhuang commented on #61
@carlkenne if you are using Enzyme, you can try [enzyme-to-json](https://github.com/adriantoine/enzyme-to-json). `react-test-renderer` is fine.

[2017-09-29 10:07] GillesDebunne opened #79 "Incompatibility with Storybook: "Can't resolve 'fs'""
Repro steps:

Start a new cra project from scratch:
[code]

Then add [storybook](https://github.com/storybooks/storybook)
[code]

Everything works as expected.

Then `yarn add --dev jest-styled-components` and edit `src/stories/index.js`, to add
[code]
after the other imports.

Run `yarn run storybook` again. It fails with this error message:
[code]

Runnning on a mac, with yarn 1.1.0, cra 1.4.0,

[2017-09-30 06:42] Kureev commented on #76
Interesting... While trying to reproduce this one, got another error:
[code]

Will keep you posted

[2017-09-30 07:02] MicheleBertoli commented on #77
Hello @dariobanfi, thanks for opening the issue.
Would you be able to provide a full non-working example (e.g. including the rendering part)?
Also, which version of this library were you using before?
Thank you very much!

[2017-09-30 07:26] MicheleBertoli commented on #79
Hello @GillesDebunne, thanks for opening the issue.
I'm not sure why you are adding `jest-styled-components` to your stories file, but it doesn't seem the right place.
Please check out [storyshots](https://github.com/storybooks/storybook/tree/master/addons/storyshots), and [this example](https://github.com/terrencewwong/jest-styled-components-storybook-example) of how to setup storybook with `jest

[2017-09-30 07:26] #79 closed

[2017-09-30 17:20] Rafael-Ramblas commented on #76
The weird thing is, the snapshot is written correctly, but it throws this error

[code]

[2017-10-01 13:55] Kureev commented on #76
I have a feeling that in one of the newest versions of Jest/React there was a breaking change that changed signature of custom matchers. As far as there are no release notes for Jest project, it is hard to find a root cause.

As a side note: if you would like to help with investigation, I'll be very grateful if you share the code you have, so I can start from there.

[2017-10-02 01:11] dangoslen commented on #61
@philpl new to open source, so forgive me for butting in, but is it unreasonable or undesirable to use the same workaround described in the previous thread as 'blessed' method as part of this project? I've used that same workaround for testing some of my work with success, but it is fragile to upstream changes, as noted here.

Sorry again for butting in!

[2017-10-03 09:40] silverlight513 opened #80 "No CSS output in snapshots when using preact"
I've recently switched a project from React to use Preact. When the switch happened, I noticed that the snapshots no longer contained any CSS, only the HTML with their classnames.

The app itself works perfectly with styled-components as I've aliased React for preact-compat. I assumed this module would have the same results in both React and Preact.

[2017-10-03 20:04] codeangler opened #81 "Imported styled-components fail jest test with this package"
Alright, we import shared UI components from a submodule in our App. These UI components are used in multiple apps and are their own repo/project all using style-components.  When we write test in the app and try `jest-styled-components` for snapshots, the random hash classNames do not reset... see below.

[code]
```     "jest-styled-components": "^4.3.0" ```

If we delete the `styled-components`

[2017-10-03 21:33] Kureev commented on #76
Ok, I have some news: seems I know what happens here:
- Fiber nodes has different structure than Stack ones
- Styled Components from version 2.0 started to use a new parser (is it correct, @MicheleBertoli?) which means that plugin should be adjusted accordingly

TL;DR: `toHaveStyleRule` should be rewritten

[2017-10-04 09:59] doque commented on #77
Hi @MicheleBertoli , I work with @dariobanfi on this and have done some further investigating.
The underlying issue seems to be that calling `styled(Component)` (as opposed to `Component.extend`) causes the style rules of the root components to be dropped.

An example repository can be found [here](https://github.com/doque/jest-styled-components-properties/blob/master/src/App.test.js#L20) (run `np

[2017-10-04 10:37] aaronmcadam opened #82 "No longer works with SC 2.2+"
Using v2.2.0 and v2.2.1, I'm seeing my tests fail because the snapshot is reverting back to the old default format:

![package_json_ _cl-ui](https://user-images.githubusercontent.com/37928/31171646-5e265550-a8f8-11e7-91dd-a652c71f6716.png)

[2017-10-04 11:09] aaronmcadam commented on #82
It looks like its working again for me now, I think I might have had conflicting packages, my project is a monorepo.

[2017-10-04 11:09] #82 closed

[2017-10-05 14:57] yanawaro commented on #74
@MicheleBertoli It was indeed because of ```stylis``` version. The version that causes tests to failed was 3.2.15 I revert to use 3.2.4. Just make it work for my work now is ok.

It might be an issue for users installing ```styled-components``` and get newer versions of ```stylis``` and use ```jest-styled-components``` for testing. Should we concern?

[2017-10-07 22:07] mwatt opened #83 "Question: injectGlobal"
Hi!

Is there a way to test styles applied by injectGlobal?

Thanks!

[2017-10-08 07:16] MicheleBertoli commented on #80
Hello @silverlight513, thanks for the interesting issue.
I never tested the package with Preact so I agree with you that I would expect it to work, I wouldn't assume it actually does :)

Can you please provide a working example to repro the issue?

I tried to run:
`yarn add --dev preact preact-compat`

and added this to my Jest config:
[code]
but it doens't work (I get `TypeError: Cannot read prop

[2017-10-08 07:58] MicheleBertoli commented on #81
Thanks for opening the issue, @codeangler.
I managed to repro the problem importing a third-party package that uses styled-components and I'll investigate further.

My only consideration is: do you really want to include in your snapshot the styles of the external package? Shouldn't they be tested separately?

In that case, a workaround would be mocking the dependencies.
For example:
[code]

[2017-10-08 08:01] MicheleBertoli commented on #76
Thank you very much for looking into this @Kureev.
I can confirm SC v2 changes the way style is generated.
There's a [utility](https://github.com/styled-components/jest-styled-components/blob/master/src/utils.js) to deal with the different versions of SC that might help.

[2017-10-08 08:30] Kureev commented on #76
Probably, it is a good thing. Seems we don't need to run parser directly, I can get an access to object with styles w/o it. Just need some time to compose a PR...

[2017-10-08 11:15] MicheleBertoli commented on #83
Hello @mwatt, thanks for your question.
Using `injectGlobal` is discouraged and it should be used only for the fonts and/or styling body.
Can you please elaborate further and provide a use-case?
Thanks!

[2017-10-08 11:47] MicheleBertoli commented on #71
I'm closing this for now, but I'd be still happy to review a PR if someone else is interested in supporting `chai`.

[2017-10-08 11:47] #71 closed

[2017-10-08 11:50] MicheleBertoli commented on #61
Thank you very much @dangoslen.
I'm still not sure whether it makes more sense to add a util to this package or just provide a couple of examples (passing the theme as a prop, mocking the context with Enzyme) to the README.

[2017-10-08 11:55] MicheleBertoli commented on #74
I see, thank you very much @yanawaro.
I'm happy you found the root cause and a solution.
It seems like an edge case to me and I don't think we should do something about it at the moment.

[2017-10-08 11:55] #74 closed

[2017-10-08 19:41] mwatt commented on #83
Hello @MicheleBertoli,

This is my main.js file. I'd like to have tests to check these styles are applied to the page where my app is gonna live.

[code]

Thanks!

[2017-10-09 05:47] wood1986 opened #84 "Feature Request: test utilities e.g. `toHaveStyleRule` of the jest-styled-component should not tied to `jest`"
I am not using jest as the test and assertion framework to test the react component. Because of using toHaveStyleRule, I have to install jest

[2017-10-09 07:18] silverlight513 commented on #80
Hey @MicheleBertoli, I've created a basic repo with a single component and snapshot test in it for you to look at.

https://github.com/silverlight513/preact-jest-concept

[2017-10-09 19:51] MicheleBertoli commented on #80
Thank you very much for providing an example, @silverlight513. It was really helpful.

I can confirm the cause of the issue the way `preact-render-to-string` serializes the component to string (instead of JSON), see https://github.com/developit/preact-render-to-string/issues/16

I'm going to leave this open because I'd be happy to fix the issue.
PRs are also welcome :)

[2017-10-09 19:53] MicheleBertoli commented on #84
Hello @wood1986, thanks for opening this issue.
The package is called **jest**-styled-components therefore it's been built with Jest in mind.
Which other test and assertion frameworks would you like it to support?

[2017-10-09 19:55] wood1986 commented on #84
jasmine

[2017-10-09 20:11] MicheleBertoli commented on #83
Thank you very much for providing more details @mwatt.
I don't think you should test whether `injectGlobal` works because it's already tested in the SC repo.

However, you could do something like:
[code]

[2017-10-09 20:11] #83 closed

[2017-10-10 00:23] mwatt commented on #84
mocha

[2017-10-10 05:22] MicheleBertoli commented on #84
chai (https://github.com/styled-components/jest-styled-components/issues/71)

[2017-10-11 10:41] silverlight513 commented on #80
I came across this package https://github.com/nathancahill/preact-render-to-json which I was hoping would solve the issue but it doesn't have any affect at all.

If I have some free I'd like to have a go at trying to fix the issue but I have no idea of how I'd go about it.

[2017-10-12 14:42] silverlight513 commented on #80
@gnarf and I have been taking a look at this today and found a sort of work around to get this working.

The way jest-styled-components checks if an element is a vdom node or not looks like what's stopping us get context to the styled-component stylesheet.
(https://github.com/styled-components/jest-styled-components/blob/master/src/styleSheetSerializer.js#L93)

Here's what we've had to do as the w

[2017-10-12 19:29] MicheleBertoli commented on #80
Hello @silverlight513 @gnarf.
Thank you very much for investigating further.

I gave a quick look and it seems that:
- `preact-render-to-json` [works as expected](https://github.com/silverlight513/preact-jest-concept/compare/master...MicheleBertoli:preact-render-to-json?expand=1), except the components have both `class` and `className` (we should remove the former). Do you know if this how Preact

[2017-10-13 07:28] silverlight513 commented on #80
Hey @MicheleBertoli

Unlike React, Preact supports the use of both `class` and `className` in it's JSX. Considering that, I'd expect styled-components to be updated in both.

Correct me if I'm wrong but I thought the point of snapshots were that they failed if something changed in a component that was being tested? Is it more that the hash shouldn't be there and only the `c1, c2 ...` classes?

[2017-10-13 16:50] MicheleBertoli commented on #80
Thank you very much for the explanation, @silverlight513.

Given Preact supports `class` and `className`, is it expected for the Styled Components to output both? Do you know where I can find out more information about this?
It seems weird to me but if that's the case we could fix it within this package.

You are perfectly right: the purpose of snapshot testing is telling you when something change

[2017-10-18 13:13] MicheleBertoli commented on #77
Thanks @doque @dariobanfi for providing more information, this is a really interesting issue.

I created a small test case to repro the issue:

[code]

The root cause is that when using `styled`, Enzyme wraps the actual element with classes `sc-bwzfXH iRycfs sc-bdVaJa rOCEJ` (that contains the style rules for both parent and child) into a `styled.div` with classes `sc-bwzfXH iRycfs` (that contains

[2017-10-18 14:46] MicheleBertoli commented on #80
Quick update, @silverlight513.
I opened a [PR](https://github.com/nathancahill/preact-render-to-json/pull/1) on [preact-render-to-json](https://github.com/nathancahill/preact-render-to-json) to get rid of `className`.

If it'll be merged, then we only need to apply the following diff to this package and it'll support Preact.
(Note: this change replaces the hashes in the correct way even when both

[2017-10-18 20:11] nathancahill commented on #80
Merged and released as 3.6.6.

[2017-10-20 16:10] madiodio commented on #84
For those not using Jest, check out [styled-components-test-utils](https://github.com/mbasso/styled-components-test-utils). It is compatible with expect, chai and jasmine.

[2017-10-20 16:13] joetidee commented on #61
Is there a way to test the text content of a styled component using enzymes `shallow` method and the styled-components' `ThemeProvider` wrapper?

[code]

[2017-10-21 15:42] MicheleBertoli commented on #80
Thank you very much, @nathancahill.

@silverlight513 I updated the package and [it works](https://github.com/silverlight513/preact-jest-concept/compare/master...MicheleBertoli:jest-styled-components-v4.8.0?expand=1).
I'm merging the branch and publishing v4.8.0 with Preact support.
Yay!

[2017-10-21 15:45] #80 closed

[2017-10-21 16:39] MicheleBertoli commented on #61
Hello @joetidee, your test would fail even without the `ThemeProvider`.

To access the text of a styled component rendered with Enzyme's `shallow`, you should use `children`:
[code]

I hope this helps.

[2017-10-21 20:20] #61 closed

[2017-10-21 20:24] MicheleBertoli commented on #84
We started [talking about](https://github.com/mbasso/styled-components-test-utils/issues/2) creating a "universal" utility to test Styled Components.
However, at the moment I prefer this package to do one thing well and stick to Jest.
Thank you very much everyone.

[2017-10-21 20:24] #84 closed

[2017-10-22 19:19] MicheleBertoli commented on #77
I made an [experiment](https://github.com/styled-components/jest-styled-components/compare/styled-child), and it seems to work.
If you want to give it a go:`yarn add --dev styled-components@next`.
Any feedback is much appreciated, thanks!

[2017-10-23 01:57] #76 closed

[2017-10-23 04:15] MicheleBertoli commented on #77
Fixed in [v4.9.0](https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md#490---2017-10-22), thank you very much!

[2017-10-23 04:15] #77 closed

[2017-10-23 22:14] sublimeye commented on #45
I'm experiencing the same issue.
SSR + styledComponents
When I run jMeter (load testing utility) with hundreds of requests eventually server dies with the same error. `jest` is not involved in this case.

[code]

[2017-10-23 23:13] Rafael-Ramblas commented on #76
Thanks for the help guys!!

[2017-10-24 00:11] Kureev commented on #76
Does it work for you now, @Rafael-Ramblas?

[2017-10-24 14:47] wagg-matt opened #87 "toHaveStyleRule property not found"
Hey,

I'm aware this may be an oversight on my part and not a bug but any help would be greatly appreciated.

First time using `jest-styled-components` and cannot get a test to work using `toHaveStyleRule`, including the examples. I would like to test if a `Button` has a `warning` prop, this is replicated in the styles.

package.json
[code]
component
[code]
styled-component
[code]
tests
[code]

Th

[2017-10-24 16:51] MicheleBertoli commented on #87
Hello @wagg-matt,
I copy/pasted your code and it works:

<img width="425" alt="screen shot 2017-10-24 at 9 49 52 am" src="https://user-images.githubusercontent.com/1308971/31956605-c59d92c2-b8a0-11e7-9f46-e7879ee3ed75.png">

If you'd be able to provide a full non-working repo, I could try and look into it.
Thank you very much!

[2017-10-24 16:51] #87 closed

[2017-10-25 23:17] MicheleBertoli commented on #64
Any update on this @yanawaro?
I know you are super busy but it'd be great if you could push some code, so I might help you complete the feature.
Thank you very much in advance.

[2017-10-26 09:28] wagg-matt commented on #87
@MicheleBertoli i'll take a further look. Thanks so much for having a look, much appreciated.

[2017-10-27 17:26] codeangler commented on #81
@MicheleBertoli  thanks for your response...  What I'm trying to confirm is that the text which is pass to the child component is properly displayed

a more concise example:

A phoneNumber component that consumes a "third-party" (inhouse) textField component

[code]

_test example_
[code]

@yusefmarra

[2017-10-30 16:36] shprink commented on #79
@GillesDebunne just got the same error :P

[2017-10-30 19:10] GillesDebunne commented on #79
Thanks for this response, @MicheleBertoli

The example indeed shows how to mix `storyshots` and `jest-styled-components` : add the import in the `storyshots.test.js` file.

[2017-10-30 20:21] MicheleBertoli commented on #81
Hello, @codeangler.
With a full DOM rendering, the children and the props will be displayed as expected.

Also, I'm closing this because unfortunately there's no easy way of overriding the class names of third-party components and I think the best solution is to mock them.

In any case, PRs are more than welcome.
Thank you very much!

[2017-10-30 20:21] #81 closed

[2017-10-30 22:05] jmjpro opened #89 "toHaveStyleRule should intelligently ignore spaces"
I defined my styles using colors like rgba(101, 45, 144, 1). toHaveStyleRule() fails to match because styled-components seems to be removing spaces from the color value like this rgba(101,45,144,1). Either styled-components shouldn't remove the spaces, or toHaveStyleRule() should also ignore the spaces when comparing.

[2017-10-31 08:37] jmjpro opened #90 "how to avoid typescript error when configuring jest-styled-components for all tests"
When I import jest-styled-components for all tests via the setupTestFrameworkScriptFile jest configuration option, I get a warning on every line in every that calls toHaveStyleRule():

`Property 'toHaveStyleRule' does not exist on type 'Matchers<void>'`

and tsc build fails

Is there a way to fix this?

[2017-10-31 09:11] MicheleBertoli commented on #90
Hello @jmjpro, thanks for opening the issue.
Any hint here @kevcenteno @HenrikFricke @jiayihu?
Thank you very much!

[2017-10-31 09:16] MicheleBertoli commented on #89
Hello @jmjpro, thanks for opening the issue.

I can't repro the problem in this repo.
For example, the following test works as expected in `test/toHaveStyleRule.spec.js`:
[code]

However, this is not the first time we hear about a similar problem.
Can you please give us more info about your setup or provide a non-working example?

[2017-10-31 09:59] jmjpro commented on #90
I updated the issue title and description above as the build actually fails.

[2017-10-31 13:49] kevcenteno commented on #90
@jmjpro Can you put up an example project that reproduces this issue?

[2017-10-31 22:27] jiayihu commented on #90
I think TS can't know the types of the package because it's never imported explicitly. Did you try with a `index.d.ts` definition file where you import the package? `import * as jestStyledC from 'jest-styled-components'`?

[2017-11-01 03:04] rahul-network opened #91 "react 15.4.1 is not working with jest styled component"
When we try to use that
Error msg : " Cannot read property 'ReactCurrentOwner' of undefined"

[2017-11-05 11:18] MicheleBertoli commented on #89
Ping @jmjpro : )

[2017-11-05 11:18] MicheleBertoli commented on #90
Ping @jmjpro : )

[2017-11-05 11:21] MicheleBertoli commented on #91
Hello @rahul-network, we updated the package to support React 16 in [v4.7.0](https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md#470---2017-09-30).

I strongly suggest upgrading React in your project.
However, if that's not possible you could try using an older version of this package, e.g. `yarn add --dev jest-styled-components@4.6.0`.

[2017-11-05 11:21] #91 closed

[2017-11-06 11:36] okonet opened #92 "Different output locally and on CI with enzyme render method"
I'm not sure what's causing this but I have a different output on CI which fails my tests.

Here is an output I'm getting on CI (Bitbucket's pipelines):

[code]

and test looks like

[code]

So it looks like locally SC create an additional `sc-` class but on CI this isn't happening.

cc @mxstbr

[2017-11-06 14:10] okonet commented on #92
This seems to be fixed after upgrading to v4.9.0

[2017-11-06 17:28] MicheleBertoli commented on #92
I'm glad to see the latest version fixes the issue.
Thank you very much, @okonet.

[2017-11-08 15:33] okonet commented on #92
Looks like I'm still experiencing some weirdness with it...

Depending on what order I `import` JS modules in my file I get different snapshots for the component.

So this change:

[code]

Produces following snapshot failure:

[code]

[2017-11-08 15:36] okonet commented on #92
And on CI it's the other way around. I'm confused how is this even possible 🤔

[2017-11-09 14:35] BernardoMariano opened #93 "missing '}' when using polished's placeholder and styled-component's Theme"
This took me a while to figure out. I'm trying to style the `::placeholder` pseudo-element of my input text using Polished's [placeholder](https://polished.js.org/docs/#placeholder) helper:

[code]

Although in the browser it worked perfectly, tests are failing with an unreasonable `missing '}'`:

![image](https://user-images.githubusercontent.com/3067157/32609605-58ed5e7e-c547-11e7-8240-2a4a002c1

[2017-11-09 17:57] okonet commented on #92
So it looks like an ongoing issue with how dependencies are require (in which order) but what I can't understand now is why different ends causing it.

[2017-11-09 17:57] okonet commented on #92
@MicheleBertoli any pointers where to look?

[2017-11-09 23:18] MicheleBertoli commented on #92
I'm sorry to hear the problem persists, @okonet.
This is a pretty weird and interesting issue.

The problem with third-party components is [known](https://github.com/styled-components/jest-styled-components/issues/81#issuecomment-334990026) - and there isn't much we can do at the moment unfortunately.
However, I don't really see how the behaviour should be different on local VS CI or, even worse,

[2017-11-10 15:35] Undistraction opened #94 "Testing Helper Functions That Use CSS"
When testing utils that use `css` to return styles ready for interpolation you can currently do this:

[code]

However, it would be much clearer if you could do this:

[code]

It looks like `./utils/stringifyRules` would to do the trick, but it isn't exposed.

[Edit] I'm doing this in my tests, using `normalizeCSS` to ensure both the styles I declare and the styles returned from the helper are for

[2017-11-10 17:48] MicheleBertoli commented on #93
Thank you very much for opening the issue, @BernardoMariano.

So, the result of this:
[code]

Seems to be:
[code]

And that's why the CSS parser fails.

Also, the code above [seems not to work](https://codesandbox.io/s/6jjy8v2o0n) in the browser as well.

<img width="165" alt="screen shot 2017-11-10 at 5 45 48 pm" src="https://user-images.githubusercontent.com/1308971/32671374-18d148ca-c63f-11e7-9

[2017-11-10 17:48] #93 closed

[2017-11-11 11:22] MicheleBertoli commented on #94
Hello @Undistraction, thanks for opening this issue.
I'm not sure I understand the use case, and I don't think it's related to this package nor to the Styled Components.

In general, one of the main benefits Snapshot Testing provides is letting you avoid thinking about the expected value and keeping it in sync with the output.
So, you replace `.toEqual(normalizeCSS(expected))` to `.toMatchSnapshot

[2017-11-11 11:22] #94 closed

[2017-11-11 13:33] Undistraction commented on #94
The problem with using snapshots for this are:

1. The contents of the snapshot is very hard to read because if there are interpolations, it is a flattened array, potentially quite a complex one.

2. The tests no longer function as documentation because you cannot see what the test is supposed to output. Yes you could look at the snapshot, but it is hard to read.

Can understand using snapshots fo

[2017-11-11 20:29] MicheleBertoli commented on #94
Hello @Undistraction, thanks for providing additional information.
I think that in order to understand your problem for real, I need to see your code (e.g. I have no idea what the `mq` function returns).

However, I'm a huge fan of snapshots and I strongly believe they work very well for any kind of output (not just React components).
Also, I think snapshots are very effective in code reviews and

[2017-11-11 20:50] Undistraction commented on #94
@MicheleBertoli Thanks. I think part of the problem was that I was returning a flattened interpolation, but I've realised I can return an object instead which makes the snapshot a lot more readable. I'm trying to hack together what I'm after and if I think it's useful I'll add it here.

[2017-11-12 15:04] Undistraction commented on #94
@MicheleBertoli OK. I think I'm a little clearer on what I need. Hopefully this will make more sense:

At present jest-styled-components covers two situations really well where it comes to snapshots - if the result is a component (in which case you can call `toJSON` on it and it looks nice in the snapshot), or with functions that return objects (for example the mixin functions in Polish) which aga

[2017-11-14 14:59] alex-shatalov commented on #64
`const ParagraphStyled = styled(Text)`
   color: #fff
`;
const wrapper = shallow(<ParagraphStyled />);
expect(wrapper).toHaveStyleRule('color', '#fff');

When i try to test <ParagraphStyled/> i get error 'Property not found: "color"', but if
const ParagraphStyled = styled.p everything will be ok
`

[2017-11-15 10:07] MicheleBertoli commented on #94
Thank you very much, @Undistraction.
Now the problem is clearer: you want the output of [stringifyRules](https://github.com/styled-components/styled-components/blob/master/src/utils/stringifyRules.js).

Would something like this work for your use case?
(Assuming it's hidden into a custom serializer)

[code]

[code]

[2017-11-15 10:30] MicheleBertoli commented on #64
Hello @alex-shatalov, you test seems to pass.
Which version of the package are you using?
Thank you very much!

[2017-11-15 11:13] Spy-Seth opened #95 "More explicit classname in snapshot"
This module do a perfect job to make the styled component classname predictive and allow us to use snapshot testing thanks for this 👍

After starting to use `babel-plugin-styled-components` in front, I feel in love with more descriptive class name ` <button class="Button-asdf123 asdf123" />`. I'm asking myself if in test it could also be interesting to add the origin of the style in the classname.

[2017-11-15 13:06] Undistraction commented on #94
@MicheleBertoli Yes. Exactly.

I have this in a serializer which makes the tests nice and clean. You can see the serializer [here](https://github.com/Undistraction/styled-mq/blob/master/src/__tests__/helpers/cssSerialiser.js).

[2017-11-15 20:31] MicheleBertoli commented on #76
Hello @sreeram767, thanks for your comment.
Would you be able to provide more information?
When you say "the same issue" are you referring to the original error described in the first comment?
Which version of the package are you using?

[2017-11-15 21:45] alansouzati opened #96 "Support for portals"
I don't think this is a bug, but I'm creating an issue to see if the styled-components experts can help me testing my component that is a React 16 Portal and uses jest + styled components.

Right now my test looks like this:

[code]

You can notice that I don't use the return of `mount` since the React portal will render the element in another container. My snapshot looks like this:

[code]

So fa

[2017-11-16 07:58] alex-shatalov commented on #64
"jest-enzyme": "^4.0.1",
"enzyme": "^3.2.0",
 "jest-styled-components": "^4.9.0"

@MicheleBertoli , my bad, i look again to my ParagraphStyled component and it is triple nested.
`const ParagraphStyled = styled(Paragraph)`
`const Paragraph = styled(Text)`
`const Text= styled.p`
If it runs like double you are right tests pass. But on triple same error.

[2017-11-18 11:25] MicheleBertoli commented on #95
Thank you very much @Spy-Seth, I'm glad you find this package helpful.

I guess it was just an example but it's worth saying that if you have `c42` (42 class names) it means the tree you are testing is too big, and you should consider testing sub-components separately.

In general, I agree that adding the component name to the class name would make the snapshot easier to read.
However, adding comp

[2017-11-18 11:43] MicheleBertoli commented on #64
I see @alex-shatalov, thanks for providing more information.

So the confusion comes from the way shallow rendering works with Styled Components.
If you run `console.log(wrapper.debug())`, you will see the following component:

[code]

which is not the one you are looking for.

What you should do instead is using the Enzyme's [dive](https://github.com/airbnb/enzyme/blob/master/docs/api/ShallowWrap

[2017-11-18 11:59] MicheleBertoli commented on #96
Hello @alansouzati, thanks for opening this issue.
I'm not sure why you are using Enzyme's attachTo, and why you decided not to generate the snapshot from the wrapper.
Although the `Drop` component uses a React portal, the following test and snapshot look right:

[code]

[code]

I hope this helps.
Feel free to reopen the issue with more information, in case the problem is not solved for your use c

[2017-11-18 11:59] #96 closed

[2017-11-18 11:59] #90 closed

[2017-11-18 12:00] #89 closed

[2017-11-20 12:03] topicus opened #97 "Match snapshot fails with "undefined:3:21: property missing ':'""
I have this test:

[code]

And this truncate function

[code]

However, when I try to match the snapshot I'm getting:

[code]
Seems like jest-styled-components doesn't like those nested functions because if I remove them it works.

[2017-11-20 21:40] MicheleBertoli commented on #97
Thank you very much @topicus, this looks similar to #93.
The code doesn't seem to work in the browser as well, can you please check?

[2017-11-20 21:40] #97 closed

[2017-11-21 17:23] stephenway opened #98 "toHaveStyleRule not finding property"
I resorted to testing out the color example from the README and it couldn't find the color property.

###### package.json

[code]

###### functions.test.js

[code]

###### console

[code]

[2017-11-22 02:10] slipperypenguin opened #99 "TypeErrors for `css.parse` and `css.apply` Issue with Enzyme"
Hello,

I'm having trouble getting my Jest tests to pass with Enzyme after using `styled-components`.

The current errors being thrown are `TypeError: css.parse is not a function` and `TypeError: css.apply is not a function`. I've attached screenshots below to hopefully get some context.

So far, I have tried most of the suggestions from [here](https://github.com/styled-components/styled-component

[2017-11-22 11:11] alex-shatalov commented on #64
@MicheleBertoli thanks a lot, it helps me!.

But i have another strange situation
My components is being exporting from files. And all of them have style color.
So i try to change your working example of `test('dive', ()` just like this.

[code]
And yes it works. `Test Suites: 1 passed, 1 total`;

But when i take out component Text to another file and import it.

Text file looks like this

[code]

[2017-11-22 16:57] rpellerin opened #100 "Why resetStyleSheet()"
Hi,
Thanks for developing such a useful library!
Just wondering... why do you call `resetStyleSheet()` in `src/index.js`?
Thanks!

[2017-11-24 17:41] Flashwit opened #101 "Generating extraneous css rules in snapshot"
Hello, I'm seeing this issue in a snapshot for a small 'dumb' component.
The component uses 2 styled components internally

[code]

In the snapshot generated where `props.error` is true I'm getting this css output

[code]

The one that has the hashed class name is for the case where `props.error` is false and obviously isn't actually used in the snapshot anywhere. The snapshot for the case where `

[2017-11-25 11:36] MicheleBertoli commented on #98
Hello @stephenway, thanks for opening the issue.
Unfortunately, I won't be able to help without seeing the implementation of `ListDetailSize`.
Would you be able to provide it?
Thanks!

[2017-11-25 11:39] MicheleBertoli commented on #99
Hello @slipperypenguin, thanks for opening the issue.
Unfortunately, I won't be able to help without seeing the implementation of the component and the test.
Would you be able to provide it?
Thanks!

[2017-11-25 12:02] MicheleBertoli commented on #64
Hello @alex-shatalov, I'm glad to hear the first solution was helpful.
I tried your code but the second test (which imports `TextAnother`) works for me.
Could you please check and provide more information?
Thank you very much!

[2017-11-25 12:16] MicheleBertoli commented on #100
Hello @rpellerin, thank you very much for your feedback.
The reset call was added in #25 by @rikukissa, and it's needed because it [creates](https://github.com/styled-components/styled-components/blob/master/src/models/StyleSheet.js#L148) a new instance of the internal Styled Components's StyleSheet.
I hope this answers your question.

[2017-11-25 12:16] #100 closed

[2017-11-25 12:41] MicheleBertoli commented on #101
Good catch, thank you very much @Flashwit.
I'll fix this ASAP.

[2017-11-26 04:55] slipperypenguin commented on #99
Hey @MicheleBertoli  thanks for the response!

Attached below are some screenshot's of the component and test implementation (trying to grab the really basic/small components & tests that are getting the issue)

`Box.jsx` file containing `styled-components`:
<img width="648" alt="screen shot 2017-11-25 at 8 52 16 pm" src="https://user-images.githubusercontent.com/3655354/33237235-f0a251ba-d23b-11e

[2017-11-26 08:11] MicheleBertoli commented on #99
Thank you very much @slipperypenguin for providing more information.
First of all, in future issues I recommend you copy the code in the comments - text is more useful than screenshots because the code can be copied and pasted into the editor.

Second, unfortunately I don't see anything wrong with your code and I didn't manage to reproduce the same behaviour.

Some more questions for you here:
- A

[2017-11-26 22:52] slipperypenguin commented on #99
@michalkvasnicak thanks for the feedback- will post text instead of screenshots:)

It looks like the issue has to do with the `styled-components` package and not the `jest-styled-components` one, since I'm still getting the same errors after removing the package. I'll try getting a minimal example pushed, as well as bring the issue up in the `styled-components` repo.

Once the issue is solved I'll

[2017-11-27 14:56] rpellerin commented on #100
Thanks!

[2017-11-27 18:10] stephenway commented on #98
@MicheleBertoli Updated the example with `ListDetailSize` Thanks

[2017-11-27 18:18] CoenWarmer opened #102 "Snapshot output keep changing on every save action (CRA, Enzyme)"
Hey there,

I'm running into some issues and I can't tell what I'm doing wrong.

I'm using Create React App (using React 16.1) with Enzyme (3.2.0) and Styled Components 2.2.3.

This is the component I'm trying to test:

[code]

And this is my test:

[code]

I've configured my test setup for Enzyme by setting a `setupTest.js` file:

[code]

When I run `yarn test` in watch mode, every time I save, t

[2017-11-27 20:40] abharvey commented on #102
You'll actually want to configure your jest framework startup file not the test startup file with the jest-styled-components.

your jest config should have this added to it in the package.json file

`"setupTestFrameworkScriptFile": "<rootDir>/jest-setup-framework.js"`

right now mine is only used for jest-styled components so in that .js file I have
`import 'jest-styled-components';`
and that's it

[2017-11-27 20:52] CoenWarmer commented on #102
Hey @abharvey, when I do that I get the following after running `yarn test`:

[code]

So is the only way to use `jest-styled-components` by ejecting from Create React App?

[2017-11-27 21:04] abharvey commented on #102
Yes, it looks like the best choice for you is to eject from CRA, it's a moment we all get to when the app becomes custom enough. The other choice you have of course, as painful as it is, would be to declare the import in each test file that uses a styled component.

[2017-11-27 21:11] CoenWarmer commented on #102
I just tried to import jest-styled-components in my `App.spec.js` but that also doesn't seem to work.

This is my test now:

[code]

And this causes the following output when using `yarn test`:

[code]

I really would prefer to stay unejected from CRA though...

What I'm still not very clear on is exactly which library (Jest, Enzyme, Enzyme-to-json, Styled Components, Jest Styled Components or may

[2017-11-27 21:19] abharvey commented on #81
@MicheleBertoli I have just ran into this problem as we decided to start using Styled Components on a shared repo across Apps as well.

In your comment you recommend mocking dependancies, and give an example for react-css-loader, I'm wondering if you could be specific about what dependancies we should be mocking related to this issue, I'm not using react-css-loaders.

Are you suggesting mocking th

[2017-11-27 22:01] abharvey commented on #102
the hashes certainly look like a styled component hash, however without knowing how you're rendering your App further down that causes the class hash to be in a "key" value of the location object then I don't think I can help further.

You might try creating a branch to eject into, if putting the jest-styled-components change there doesn't solve this then it's not likely a styled component issue.

[2017-11-28 08:36] CoenWarmer commented on #102
Did some further digging and it seems to be related to Memory Router. When I shallow render a component that uses Styled Components but is not wrapped in Memory Router, it works.

Found this link as well that looks very similar to my case: https://swaac.tamouse.org/testing/2017/08/02/TIL-enzyme-shallow-render-with-memoryrouter-doesnt-work/

[2017-11-28 08:38] AntoninSorrento commented on #98
I can't use toHaveStyleRule, same problem。 i use  example for website https://www.styled-components.com/docs/tooling#test-utilities

**code:**

`import React from 'react'
import styled from 'styled-components'
import renderer from 'react-test-renderer'
import 'jest-styled-components'

const Button = styled.button`
  color: red;
  @media (max-width: 640px) {
    &:hover {
      color: green;
    }

[2017-11-28 15:03] TymchenkoOleksandr commented on #98
try to remove space after 'max-width:' in 'media: '(max-width: 640px)',
and add one before "':hover '"  in "modifier: ':hover',"

[2017-11-28 19:34] stephenway commented on #98
Adding a space before `:hover` doesn't sound like valid CSS. Is this a problem with the parser then?

[2017-11-30 07:18] AntoninSorrento commented on #98
@TymchenkoOleksandr Thanks a lot ,I can test now

[2017-11-30 13:48] Ronnyrr opened #103 "Can't find element in Shallow render"
Follow up on this (https://twitter.com/MicheleBertoli/status/936196097218883584) twitter discussion. I've got an issue with styled components not rendering my test, or not able to find elements.

I've got the following test:
[code]

This doens't work as you can see above in my comments. I think this has to do with not good rendered styled components. My snapshot is as following:

[code]

I do have

[2017-11-30 14:32] Ronnyrr commented on #103
Seems to be "fixed" using `Input.displayName = 'Input';` as mentoined in the last comment from https://github.com/styled-components/styled-components/issues/896

Is this a proper fix and expected behavior?

[2017-12-01 12:30] doque opened #104 ""Property not found" when testing for styleRules applied by modifier"
Hi,

I'm unable to test for style rules that are applied using modifiers.

This problem occurs when using `mount` as well as `shallow`. It is not rule-specific, if I switch `border-radius` with `background-color` it doesn't solve the problem.

[code]

I've set up a sample repository like in #77, I hope it helps: https://github.com/doque/jest-styled-components-properties/tree/bug/disabled

[2017-12-01 15:54] craigcoles opened #105 "Cannot create styled-component for component: [object Object]"
## Error

**Output from Terminal**

[code]
**Test.js**

[code]

### Further Investigation

Investigating `App/Components/BarcodeReader/styles.js:7`, line 7 is actually creating a component based on an existing component `react-native-camera`.

[code]

[2017-12-02 09:15] MicheleBertoli commented on #81
Hello @abharvey, thanks for commenting on this issue.
There's no general solution to this, and it really depends on the specific case.
Also, `react-css-loaders` was just an example of a third party component that uses Styled Components.

Assuming that you component library's components are already tested, you might want to avoid testing them twice - to reduce the amount of noise when you change th

[2017-12-02 09:53] MicheleBertoli commented on #102
This is interesting, thanks @CoenWarmer @abharvey.
Given the `MemoryRouter` is breaking the snapshots with the random keys, I'm closing this since it's not related to this package.
Also, [this comment](https://github.com/ReactTraining/react-router/issues/5579#issuecomment-333401692) describes a potential solution.

[2017-12-02 09:53] #102 closed

[2017-12-02 10:34] MicheleBertoli commented on #98
This is a pretty interesting issue, @stephenway @AntoninSorrento.

I just copy/pasted your tests and they work.

[code]

![unnamed](https://user-images.githubusercontent.com/1308971/33514373-a44b436c-d74a-11e7-9bca-466e93079b82.png)

Then, I updated the `styled-components` dependencies:

[code]

And the "it works" doesn't work anymore (unless I remove the space in the `media` modifier, as @Tymchen

[2017-12-02 10:38] MicheleBertoli commented on #92
Ping @okonet, are you still experiencing the issue?
Thank you very much!

[2017-12-02 10:38] #95 closed

[2017-12-02 10:39] MicheleBertoli commented on #99
I'm closing this for now since it's unrelated to this package, feel free to ping me if you need any help and please let me know what is the cause of the issue if you manage to fix it.
Thank you very much!

[2017-12-02 10:39] #99 closed

[2017-12-02 11:40] MicheleBertoli commented on #103
Oh, now I see the "problem" @Ronnyrr.
I didn't get that having `styled.*` was causing you an issue in finding components, sorry.
Thank you very much for opening the issue.

Using `displayName` seems a correct solution, but what I usually do is just referring to the component itself (see last expectation in the following example):

[code]

I hope this helps!

[2017-12-02 11:40] #103 closed

[2017-12-02 11:45] MicheleBertoli commented on #104
Hello @doque, thanks for opening the issue and creating a sample repository - that helps a lot.
In order to find the style rules within a modifier you need to specify it as the third [option](https://github.com/styled-components/jest-styled-components#tohavestylerule) of the matcher, as follows:

[code]

I hope this helps!

[2017-12-02 11:45] #104 closed

[2017-12-02 15:40] abharvey commented on #81
Thanks for the reply, I found a few more examples and was able to understand what you were getting at before. In case anyone's interested in the future, here's what I've ended up with for a mocking function for our in house component library:

[code]

Then when you're testing components that use callback functions passed into a library component like a `Modal` simply call the props directly like t

[2017-12-02 16:33] doque commented on #104
Awesome, thank you!  👍

[2017-12-05 20:28] duro opened #106 "Having trouble with enzyme mount of tree that depends on theme"
I know this is a topic that has been marked as "tricky" but I could really use some help to understand how to best go about testing a tree that has components that depend on theme using enzyme's mount rendering.

I have tried the following solutions to no avail:

[code]

AND:

[code]

Any direction you could provide?

[2017-12-10 07:38] #92 closed

[2017-12-10 07:42] MicheleBertoli commented on #106
Hello @duro, thanks for opening this issue.
Do you mind elaborating more on the problem you are trying to solve?
The known "issue" is related to [Theme and shallow rendering](https://github.com/styled-components/jest-styled-components#theming), `mount` should work as expected.
Thank you very much!

[2017-12-13 10:42] zvictor commented on #97
I am having the same issue. What bothers me is that the stack trace does not help me at all to trace the origin of the problem. In a big project it is hard even to figure out that the issue is being caused by this serialiser.

[2017-12-20 14:42] #106 closed

[2017-12-21 01:15] wachunga opened #108 "toHaveStyleRule() should allow omitting a value"
ie, that the property is specified at all. You can do this with a regex that matches everything, but that's not exactly convenient.

[code]

[2017-12-29 09:34] MicheleBertoli commented on #108
That's a good idea, thank you very much @wachunga.
Would you happy to submit a PR?

[2018-01-04 18:55] wachunga commented on #108
@MicheleBertoli Sure, I'll submit a PR.

[2018-01-05 22:35] jspath opened #109 "toHaveStyleRule not working under preact"
Does toHaveStyleRule work under preact?

[code]

The snapshot looks like:
[code]

But I get `Property not found "color"` on the toHaveStyleRule matcher.

It's not clear to me if toHaveStyleRule is supposed to work in preact or not.

[2018-01-14 08:34] MicheleBertoli commented on #109
Fixed in [v4.10.0](https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md#4100---2018-01-14).
Thank you very much, @jspath.

[2018-01-14 08:34] #109 closed

[2018-01-16 10:26] waclawlabuda commented on #98
Hi!
Any update on this?

[2018-01-16 11:02] ghost opened #110 "React-Native: TypeError: Cannot read property 'filter' of undefined"
I cannot use the `toHaveStyleRule` function, it throws errors.

[code]

The resulting error is
[code]

I am using following dependencies:
[code]

config
[code]

[2018-01-16 19:48] caffodian commented on #98
I just ran headfirst into this too, the first time I tried to write a `toHaveStyleRule` based test, naturally.  :)

[2018-01-16 20:37] MicheleBertoli commented on #98
Hello everyone, I'm sorry this issue is affecting you.
Unfortunately, I won't have time to fix it soon - but I'll be more than happy to review a PR.

Basically, the problem is that the at-rule processed by the `styled-components` (through [stylis](https://github.com/thysultan/stylis.js)) generates a different output from the string provided in the matcher option.

For example, the following expect

[2018-01-19 16:59] vitbokisch commented on #110
I'm having similar issue.

**package.json:**
[code]

**I got an error:**
[code]

**jest.config.js:**
[code]

**It seems, it breaks because of spread operator. When using Object.assign instead I can run my test.**

[2018-01-20 09:58] joetidee opened #111 "Classnames beginning with hyphens"
I have just installed v1.4.0 and noticed that some of the classnames generated in my Jest snapshots begin with hyphens - this is the first time I have seen this. Is this correct?

Here is an example of the output:
<strong classname="c7 -strong c8">

[2018-01-21 16:17] MicheleBertoli commented on #111
Hello @joetidee, thanks for opening the issue.
Would you mind proving more information and a minimal repro example?

[2018-01-22 14:06] vitbokisch commented on #110
In my case I was using `const tree = renderer.create(<Component />).toJSON()`, now I switched to enzyme shallow and getting the same error as mentioned by @MoeSattler

[2018-01-22 15:08] vitbokisch commented on #110
Everything works when invoking toJSON function from `enzyme-to-json` manually.

[code]

So, as a workaround I've created custom shallow function in `jest.setup.js`, so I don't have to invoke it manually in each file anymore:
[code]

[2018-01-22 18:22] corygibbons opened #112 "Not working with styled-components v3.0.0"
Broken as `styled-components` isn't shipping with `/lib` anymore (https://github.com/styled-components/styled-components/releases/tag/v3.0.1)

[code]

[2018-01-22 19:09] orta commented on #112
I wonder if `StyleSheet` can be exposed with the rest of these models from the main lib?

https://github.com/styled-components/styled-components/blob/4240d61abab5bf1618e3cde8d4a6d52b9d245fad/src/index.js#L12-L18

[2018-01-22 19:14] orta commented on #112
Lols, or this: https://github.com/styled-components/styled-components/pull/1438/files

[2018-01-22 20:54] MicheleBertoli commented on #112
I just want you to stop for a second and think about how awesome you all are.

16:18 - Styled Components v3 is released
16:25 - @mxstbr [tweets](https://twitter.com/mxstbr/status/955476413846564864) about it
18:22 - @corygibbons migrates to v3, and finds the issue
18:44 - @fczuardi migrates to v3
19:17 - @philpl merges the Styled Components fix
19:23 - @philpl submits a PR to fix Jest Styled Compo

[2018-01-22 21:18] MicheleBertoli commented on #112
`yarn add jest-styled-components@next` 🚀

[2018-01-23 04:30] prasanth95 opened #114 "Cannot create styled-component for component: undefined"
The test case failed by showing this error

 ● Test suite failed to run

    Cannot create styled-component for component: undefined

      at constructWithOptions (node_modules/styled-components/lib/constructors/constructWithOptions.js:17:7)
      at styled (node_modules/styled-components/lib/native/index.js:45:8)
      at Function.get [as Text] (node_modules/styled-components/lib/native/index.js

[2018-01-23 22:51] vadivelkindhealth opened #115 "Cannot find module 'styled-components/lib/models/StyleSheet' from 'utils.js'"
I'm using `jest-styled-components: 4.10.0` and when I run `jest`. I get the below.
[code]
[code]
We're using a mono-repo setup with yarn workspaces btw.

Can you help us identify the issue? Please let me know if you need anything further to debug the issue. Thanks!

[2018-01-24 01:44] philpl commented on #115
https://github.com/styled-components/jest-styled-components/issues/112

[2018-01-24 01:44] #115 closed

[2018-01-24 15:28] MicheleBertoli commented on #114
Duplicate of #105

[2018-01-24 15:28] #114 closed

[2018-01-26 10:39] mrsln commented on #112
by any chance this also broke testing with jsdom?

[2018-01-26 11:10] mrsln opened #116 "jsdom issue"
I'm using `create-react-app`. I wanted to use this project to test styles but this code didn't work for me:
[code]
snapshot:
[code]

I get the correct snapshot if remove usage of `jsdom` from testing:
[code]
[code]

here's my versions of packages
[code]

[2018-01-26 12:05] philpl commented on #112
@mrsln nope, it shouldn’t have. Feel free to open an issue if you experience new problems with v3 + the jest-sc Beta Version

[2018-01-26 12:08] philpl commented on #116
@mrsln can you change your version to styled-components@3.0.2 please? You’re on a prerelease that was accidentally made public.

I’ll try to see if I can reproduce the issue

[2018-01-26 12:22] mrsln commented on #116
Thanks, that worked! You're awesome!

[2018-01-26 12:43] WickyNilliams opened #117 "Snapshot of style rule"
It would be nice if we could snapshot style rules, instead of explicitly asserting on them in tests.

e.g. instead of:

[code]

we could do something like (API up for discussion):

[code]

[2018-01-26 12:49] #116 closed

[2018-01-26 12:54] WickyNilliams commented on #117
I guess I just want some way to snapshot styles, without caring about the rest of the DOM. I don't want to mount and snapshot the whole component because the snapshots might be huge. And `toHaveStyleRule` can get verbose, especially when sometimes there are modifiers like hover or child selectors at play.I usually have existing tests that exercise the DOM, i want separate tests for styles.

So may

[2018-01-27 16:57] MicheleBertoli commented on #111
Please reopen this if you are able to provide more information.
Thank you very much!

[2018-01-27 16:57] #111 closed

[2018-01-29 09:55] nerfologist opened #118 "Snapshots not working with styled-components 3.1.0"
Hi,
I just wanted to report that the snapshot functionality seems to be lost when using the `@next` version (at this time, v. 4.11.0-0) of `jest-styled-components` in combination with the just released version 3.1.0 of `styled-components`.

The nice `.c0` class with the relevant style rules is no longer part of the snapshot and we have the styled-components hashed class names instead.

Here's what

[2018-01-29 14:01] daviddelusenet opened #119 "Can't get Jest to work with Styled Components which contain theming"
Hi everyone,

I've been trying all day to get Jest working with my Styled Components. I opened the following [Stack Overflow question](https://stackoverflow.com/questions/48503037/cant-get-jest-to-work-with-styled-components-which-contain-theming) to get some help with it.

All of the explanation (and more) about my problems you can find on that page. Does any one here has any idea on how to solve

[2018-01-29 16:50] JonShort commented on #119
Personally I provide default props to any styled component using the theme, e.g:
[code]

You can streamline this by making an object of the basic default props for your theme, and importing it, e.g:
[code]

Then in your component:
[code]

This solution fits my use-case because I need to be able to render the components independent of a theme sometimes. Another benefit of this is that shallow can s

[2018-01-29 18:12] mxstbr commented on #118
Good catch, this was our bad. Fixed in https://github.com/styled-components/styled-components/pull/1460

[2018-01-29 20:10] MicheleBertoli commented on #118
Thank you very much, @nerfologist @mxstbr.
I upgraded the SC, and pushed a new version under `next`.
I'll soon clean up the code and published an official release.

In the meanwhile, do you think it's worth adding a simple `jest-styled-components` test in the `styled-components` repo?

[2018-01-29 20:10] #118 closed

[2018-01-29 20:11] mxstbr commented on #118
Yeah I think we should really do that at this point 😅 PRs very welcome!

[2018-01-29 23:47] austin94 commented on #112
Does anyone else have `jest-styled-components@next` and `styled-components@3.1.3` working with snapshot testing?

Looks like I'm running into the same issue as https://github.com/styled-components/jest-styled-components/issues/118

[2018-01-30 08:31] daviddelusenet commented on #119
@JonShort I was thinking about going this route too. Would be a little overkill since my application will only have two themes. However, it will fix the issues with tests.

If anyone has any other solutions please share them, very interested in the different ways on how to solve this problem!

[2018-01-30 09:53] daviddelusenet commented on #119
@JonShort I tried your solution and it works.

However, I'm not a big fan of this solution. It means that I've to do this:

[code]

For **EVERY SINGLE** Styled Component in my application. That will just make the code huge, not maintainable and cluttered.

I really hope someone else has another (better) solution since this setup will be very hard to implement on big projects.

[2018-01-30 14:57] Kureev commented on #110
Hey there! I didn't design it having enzyme in mind tbh, but I'm glad you figured out! For me, it feels like the problem that you experience @vitbokisch is related to your jest run environment rather than to the toHaveStyleRule matcher itself. Try to run it using `babel-node` (I believe I tested it with it), it should do the trick.

[2018-01-30 20:19] daviddelusenet commented on #119
@JonShort I tried your solution but it doesn't work. Check out my reference above.

[2018-01-31 08:33] mxstbr commented on #119
Your best bet would be to create a `renderShallowWithTheme` method, see the readme for more information: https://github.com/styled-components/jest-styled-components#theming

[2018-01-31 08:49] daviddelusenet commented on #119
@mxstbr thanks for your response. If you read [my Stack Overflow Question](https://stackoverflow.com/questions/48503037/cant-get-jest-to-work-with-styled-components-which-contain-theming) you will see that using shallow is not an option for me.

I **need** to use mount otherwise GSAP won't work and all my tests will fail.

[2018-01-31 08:53] mxstbr commented on #119
Then just write a quick `mountWithTheme` method instead? :wink:

[code]

[2018-01-31 09:06] daviddelusenet commented on #119
@mxstbr thanks again!

I tried your solution, this my test code now:

[code]

Test output:

[code]

So I add a `console.log` inside of my `mountWithTheme` function:

[code]

Output of this log:

[code]

And I also added this `console.log` to my `SlideTitle` Styled Component:

[code]

Output of this log:

[code]

Then I scroll down and see this:

[code]

**What?!**

[2018-01-31 09:46] mxstbr commented on #119
That looks like you have another test somewhere else which doesn't use the `mountWithTheme` util yet

[2018-01-31 10:55] daviddelusenet commented on #119
@mxstbr I've figured it out with help from a colleague!

I had another Styled Component which extended the SlideTitle:

[code]

When I removed this component my test passed. So I now refactored it to this:

[code]

**And it works!**

[2018-01-31 12:11] mxstbr commented on #119
:tada: Awesome, glad to hear that! I'm going to assume this can be closed :blush:

[2018-01-31 12:11] #119 closed

[2018-02-05 08:31] doque commented on #112
We're using `styled-components@3.1.6` successfully with `jest-styled-components@next`. Also included:

[code]

[2018-02-06 23:08] Joelkang commented on #64
Hi @MicheleBertoli can we reopen this? I use a lot of @yanawaro's 2nd example where I style nested subcomponents. Will be happy to try to get a PR out for it soon.

[2018-02-07 19:53] brycepj commented on #93
I'm having what seems like the same issue.

`undefined:21:86: missing '}' `

I can't get any version of the following to run, without seeing the above ☝️ error, although they *do* work properly in the browser.

[code]
This works, however:

[code]

I did, however, notice that if I removed the `&:first-child` styles, the error goes away.

[2018-02-07 22:03] MicheleBertoli commented on #64
Yep please @Joelkang - I would love to get this done.
I'm looking forward to receiving your PR.
Thank you very much!

[2018-02-08 03:26] greypants commented on #97
Also having this issue. What's weird is that the test runs fine locally, but fails in our CI pipeline (Jenkins). So what's the specific issue? Nesting string interpolation?

[2018-02-08 16:34] greypants commented on #97
### Solved!
We apparently need to used the [css template literal helper](https://www.styled-components.com/docs/api#css)

I've determined that using the `css` helper around nested string interpolation resolves the issue. Not sure why it's only necessary for tests, when it renders fine in the browser. I'd still love to understand why this is.

[2018-02-08 16:35] greypants commented on #93
This seems to be the answer: https://www.styled-components.com/docs/api#css

Details on this issue: here: https://github.com/styled-components/jest-styled-components/issues/97#issuecomment-364169127

[2018-02-08 16:39] brycepj commented on #97
@greypants Thanks for that tip. I'll give the `css` helper a try 👍

[2018-02-09 15:57] alexpate commented on #106
I'm having an issue with this as well.

`shallow` works okay, but trying to `mount` a component that has a nested styled-component in it, doesn't work.

This is what my test looks like:

[code]

MyComponent is a form component that contains, among other things, several input components that are styled-components.

The error I get back is `Cannot read property 'fontWeightMedium' of undefined`.

A c

[2018-02-09 18:01] solidflows commented on #112
@austin94 When I run jest with no flags, it runs fine with no errors. The classNames are replaced with values c0.
When I run jest with production flag, it no longer uses the replaced classNames and fails.

Here are the versions I'm using:
`
"jest": "^22.0.3",
"jest-styled-components": "^4.11.0-1"
`
Passes: `jest --watch`
Fails: `NODE_ENV=production jest`

[2018-02-09 22:32] kitten commented on #112
@fabio-b this is most likely due to speedy mode being switched on in a browser-like environment (jest + jsdom). Since insertRule is not supported in Jason afaik, it fails.

@MicheleBertoli I’m currently refactoring the Stylesheets in styled-components and we might be able to force the server mode (in memory styles) and expose more methods if that helps?

[2018-02-11 08:10] MicheleBertoli commented on #112
Thanks for the ping, @kitten.

Another dirty thing this package is doing, is reading the [class names](https://github.com/styled-components/jest-styled-components/blob/master/src/utils.js#L69) and the [component IDs](https://github.com/styled-components/jest-styled-components/blob/master/src/utils.js#L72) within the generated `<style />` tags - it'd be great to get that information from a public A

[2018-02-12 10:03] kjarnet commented on #61
Is this documented anywhere?

[2018-02-12 15:07] fabio-b commented on #112
@kitten I'm running this from the terminal, does that matter?

[2018-02-12 15:45] kitten commented on #112
@fabio-b as previously said, this is because Jest is by default in a JSDom environment (totally fine and intended) but `NODE_ENV=production` in a DOM env causes us to use the speedy APIs, which are unsupported by JSDom. To fix it right now, I'm afraid you'll have to run your tests without: `NODE_ENV=production`

@MicheleBertoli We can certainly make this easier, but we won't expose `stringifyRules

[2018-02-15 17:25] Joelkang commented on #64
@MicheleBertoli PR rendered; we should probably discuss how to handle nested styled components, but I think nested element/class/attribute selectors should be handled properly

[2018-02-15 19:28] gscottolson opened #121 "jest-styled-components peer dependency"
Just wondering if there is an ETA for the release that uses the styled-components peer dependency of ^3.0.2…

https://github.com/styled-components/jest-styled-components/blob/0f74941c68d68604e2202842bc2b3e5e1e374a64/package.json#L54

[2018-02-16 21:39] brentmclark commented on #112
I can confirm that @kitten's recommendation to run the tests without `NODE_ENV=production` works!

I updated `package.json` to use:
`"test": "NODE_ENV=development jest --silent",`
instead of:
`"test": "jest --silent",`

and our CI environment is now happy.  Thanks a ton for helping troubleshoot all of this, folks!

[2018-02-17 16:43] MicheleBertoli commented on #106
Hello @alexpate, I'll be more than happy to help.
However, I'm not able to repro the issue.

[code]

[code]

Would you mind providing a non-working example?
Thank you very much!

[2018-02-17 16:59] MicheleBertoli commented on #61
Unfortunately, I don't think this specific behaviour is documented somewhere @kjarnet.
I believe is due to how style components are generated and the fact that `text()` goes only one level deep with shallow.

[2018-02-17 17:40] MicheleBertoli commented on #64
This is awesome, @Joelkang.
Thank you very much!

[2018-02-17 17:43] MicheleBertoli commented on #112
Thank you very much, @kitten.
I don't see any problem in not mounting the styles, as long as there's a way to access class names, hashes and rules.

[2018-02-17 17:44] MicheleBertoli commented on #121
Hello @gscottolson, you can install the current master version with:
`yarn add jest-styled-components@next`

I'm going to publish a new release very soon.

[2018-02-17 17:44] #121 closed

[2018-02-21 15:15] froyog commented on #106
@MicheleBertoli
for example
[code]
[code]
In the snippet above `MyComponent` will get the context but the nested `AnotherComponent` is not because you didn't pass the context directly to it. I think the key is to "mount with theme context" recursively. I have no idea how to solve this problem, hope to get some help.

[2018-02-24 11:12] #64 closed

[2018-02-24 12:19] MicheleBertoli commented on #112
[v5](https://github.com/styled-components/jest-styled-components/blob/master/CHANGELOG.md#500---2018-02-24) is out - thank you very much, everyone 👏

[2018-02-24 12:19] #112 closed

[2018-02-24 13:03] MicheleBertoli commented on #106
Oh, I see - it seems Enzyme injects the context only in the root component.
Any reason why you are manually setting the context instead of rendering the theme provider ([example](https://github.com/styled-components/jest-styled-components/blob/master/test/styleSheetSerializer.spec.js#L152))?

[2018-02-25 10:01] froyog commented on #106
@MicheleBertoli I'd like to use setState() or setProps() whick can only be called on the **root** element.
Rendering a `<ThemeProvider theme={{}}><MyComponent /></ThemeProvider>` makes `ThemeProvider` the root element instead of `MyComponent`

[2018-02-27 10:06] alexpate commented on #106
Apologies for the slow reply, have been away for the past week or so.

We are running in to the same problem that @froyog has outlined. We can use the `ThemeProvider` in the tests, however lose out on a lot of the nice Jest stuff.

[2018-02-28 23:05] dashed commented on #112
@MicheleBertoli Unfortunately, v5 works with `styled-components@3.0`, but not  `styled-components@3.1`.

[2018-03-01 06:58] MicheleBertoli commented on #112
Hello @dashed, I'm sorry to hear you are having issues with the package.
However, this repo's tests are green with `styled-components@3.1.6`, and we now have [integration tests](https://travis-ci.org/styled-components/styled-components/jobs/346392281#L642) in the styled components repo as well.
Would you be able to provide a non-working example?
Thank you very much!

[2018-03-02 08:12] michalpleszczynski commented on #106
We're having the same issue as well. Reading through other similar issue in this repo and styled-components repo it seems that so far the solutions only apply to using `shallow`. Are there any more suggestions for:  `mount` + styled-component + being able to use setProps()/setState()/etc ?

[2018-03-02 22:27] dashed commented on #112
@MicheleBertoli interesting. I'll try and see if I can provide a non-working example in create-react-app.

[2018-03-03 07:24] dashed commented on #112
@MicheleBertoli Figured it out. I had `"browser": true` by accident in my jest config: https://facebook.github.io/jest/docs/en/configuration.html#browser-boolean

Removing it solved the issue 😄

[2018-03-05 17:57] caffodian opened #122 "Doesn't seem to work with 3.2.0"
I'm guessing this is due to the StyleSheet changes, but I don't know enough about how all the internals work.  My snapshots are back to using hashed names rather than the nice c1, c2, etc.

Thanks for the project, and sorry if this is a dupe issue.

[2018-03-05 19:38] MicheleBertoli commented on #122
Hello @caffodian, thanks for opening this issue.

I just updated this repo to `styled-components` v3.2.0 and it seems there are no issues (except a few vendor rules): please check a54ca4b73f3a0f1038d965acc9ff6e2b4e33a9dc.
Also, we now have [integration tests](https://github.com/styled-components/styled-components/blob/master/integration-test/__snapshots__/jest-styled-components.test.js.snap#L4) an

[2018-03-05 19:38] #122 closed

[2018-03-06 03:43] dmk255 opened #123 "Usage with keyframes"
Hello!

It looks as though the classnames that are created with `keyframes` from styled components are not serialized. Is this intentional?

Best,
Daniel

[2018-03-07 12:53] MicheleBertoli commented on #123
Thank you very much @dmk255 for opening this issue.

This is the snapshot for the [Animations](https://www.styled-components.com/docs/basics#animations) example on the Styled Components website:
[code]

I assume that when you say "classnames" you are referring to the animation name, right?

In any case, is this giving you any issues?
If yes, please provide more information and I'll be happy to dig

[2018-03-11 11:07] kitten commented on #98
Just a note for a future person who is picking this up, please don’t get burned and implement this yourself :wink: Use stylis and stylis-rule-sheer which conveniently matches up with what styled-components uses, or I could talk about alternatives. But the risk in implementing this from scratch is too high :(

[2018-03-12 18:11] dfrankland opened #125 "Only works with a shared instance of styled-components"
I work on a [Lerna](https://github.com/lerna/lerna) monorepo of component packages that contains multiple instances of [`styled-components`](https://github.com/styled-components/styled-components) and a global [Jest](https://github.com/facebook/jest/) [`setupTestFrameworkScriptFile`](https://facebook.github.io/jest/docs/en/configuration.html#setuptestframeworkscriptfile-string). Unless each packag

[2018-03-12 19:12] kitten commented on #125
Wait, I didn’t realise you had multiple instances of styled-components.

This can lead to a lot of unexpected issues in an app, so is there any reason why you’re not letting lerna deduplicate it?

[2018-03-12 19:15] dfrankland commented on #125
Each of the packages had the same version of `styled-components` which would be deduped by any app that installs multiple of the packages published from the monorepo. But, when using Jest, this loads them as separate instances due to each package having `styled-components` in its respective `node_modules`.

[2018-03-13 14:35] ChristianHohlfeld opened #126 "Properties not found when using ampersand and snapshot testing (using preact)"
I performed a snapshot test with following component:
const SpaceDiv = styled.div`
                    &&{
                        width: 100%;
                        height: ${props => props.height }px;
                        font-family: 'Open Sans', sans-serif;
                        text-align: center;
                        font-size: 11px;
                        color: #979797;

[2018-03-14 19:17] poffdeluxe commented on #106
Has anyone found any good solutions to this issue? I'm also currently running into this problem

[2018-03-14 19:32] alexpate commented on #106
@poffdeluxe At the moment, there doesn't seem to be a full solution.

You can access some of the root methods, by calling `instance()` first, and then calling the method:

[code]

http://airbnb.io/enzyme/docs/api/ReactWrapper/instance.html

But methods such as `setState` and `setProps` won't work at the moment.

[2018-03-14 19:46] poffdeluxe commented on #106
Gotcha.

I think I might have figured out the workaround:

[code]

From what I understand following the discussion on https://github.com/airbnb/enzyme/issues/144it looks like the `childContextTypes` need to be passed to the mount along with the context else the children won't receive them

[2018-03-21 15:16] melounek commented on #12
I fell into the same issue and finally I realized to use your second option of deep rendering with mocking (ignoring) the nested components defining empty functions. I documented it here, so I hope it will be helpful for some others... https://medium.com/@melounek/jest-snapshots-with-nested-components-c08ceef34108

[2018-03-22 20:55] SavePointSam opened #129 "Does not work when rendering using react-testing-library"
I've been moving a few of my tests over to [react-testing-library](https://github.com/kentcdodds/react-testing-library) as I prefer the simple approach. However, this utility does not appear to work with the way the `render` function from that library works.

I'm not sure who is responsible for fixing compatibility, though RTL just uses react-test-renderer under the hood in a very lightweight mann

[2018-03-22 22:51] kentcdodds commented on #129
I'm afraid the diff wont be very helpful (I did a lot of other unrelated work at the same time), but I had to upgrade jest-glamor-react to support getting class names from DOM nodes: https://github.com/kentcdodds/jest-glamor-react/commit/c145d6bd9f385ad01d8e02ac21f1173370b2bae6

Doing that made it work out of the box with react-testing-library :+1:

Here are a couple key things not to miss:

https

[2018-03-23 17:00] RossKinsella opened #130 "React-Native tests fail unless you use the deprecated way of importing them"
Styled react-native components throw `TypeError: _styledComponents2.default.View is not a function` when they are created using `import styled from 'styled-components'`
https://cl.ly/0l1V1c0o1f2p

Reproduce:
[code]

This is not the case when you import styled using `import styled from 'styled-components/native'`, which is deprecated as of [V3](https://www.styled-components.com/docs/basics#react-na

[2018-03-24 16:44] MicheleBertoli commented on #125
Thank you very much, @dfrankland @kitten.
Do you mind submitting a PR which adds this information to the README, @dfrankland?

[2018-03-24 16:49] MicheleBertoli commented on #126
Thank you very much for opening this issue @ChristianHohlfeld.
Any reason why you are using `&&`? (it works with a single `&`)

[2018-03-24 16:52] MicheleBertoli commented on #106
This is awesome, thank you very much @poffdeluxe.
Do you mind submitting a PR which adds this information to the README?

[2018-03-24 17:01] MicheleBertoli commented on #12
Thank you very much, @melounek.

[2018-03-24 17:05] MicheleBertoli commented on #129
Thank you very much, @SavePointSam @kentcdodds.
Would you be happy to submit a PR following @kentcdodds' suggestions, @SavePointSam?

[2018-03-24 17:07] MicheleBertoli commented on #117
Thank you very much, @WickyNilliams.
Would you be happy to submit a PR?

[2018-03-24 17:07] MicheleBertoli commented on #108
Closing due to inactivity.

[2018-03-24 17:07] #108 closed

[2018-03-24 17:08] MicheleBertoli commented on #123
Closing due to inactivity.

[2018-03-24 17:08] #123 closed

[2018-03-24 18:35] dfrankland commented on #125
@MicheleBertoli cheers, I've just made a PR: #131.

[2018-03-26 14:19] SavePointSam commented on #129
I can take a look into a PR when I get a chance, sure!

[2018-03-29 16:12] jakelazaroff commented on #106
Any chance you could add this to the [test utilities documentation on the official website](https://www.styled-components.com/docs/tooling#test-utilities) as well? This entirely solved my problem, but I didn't think to check the README in addition to the docs on the website until I found this issue.

[2018-04-01 07:41] #125 closed

[2018-04-01 07:59] MicheleBertoli commented on #106
That's a very good point, @jakelazaroff.
Do you mind submitting a PR [here](https://github.com/styled-components/styled-components-website) as well, @poffdeluxe?
Thank you very much!

[2018-04-06 16:57] marvinkome commented on #97
But due to the poor stack trace, I can't really know where the error is coming from. Is there any easy way to know where the error is coming from?

[2018-04-10 14:54] webbhead777 opened #133 "Not all classnames are being converted into C0, C1, etc."
When I run my tests locally using jest-styled-components the classnames are replaced with the shortened names and it matches the snapshot beautifully. But once I push to our CI for some reason the test prints the styled components hash for some classnames and shortened names for others. and out of order too: so a snapshot with `C8` ends up being `C0`, `C9` is `C1` etc. and it inevitably fails. Has

[2018-04-11 14:19] karolisgrinkevicius opened #134 "property not found using styled-system"
#### ./MyComponent.js
[code]

#### ./MyComponent.spec.js
[code]

#### Expected result
👏🏻🍻

#### Actual result
🖕🏻👺

`Property not found: "fill"`

#### Dependencies
- `jest@22.4.3`
- `styled-components@3.2.5`
- `jest-styled-components@5.0.1`
- `styled-system@2.2.1`

#### Explanation
I've tried to use both `shallow` and `mount` from `enzyme` and got the same result.

[2018-04-12 11:38] lewisflude commented on #130
I'm also having this issue, thank you so much for suggesting the styled-components/native fix as it saved me from a massive headache. If I find out anything else about the problem I'll report back.

[2018-04-14 13:08] larsno opened #135 "Please consider wrapping the added style string in <style> element"
Currently the styles are added to the snapshot string as if writing to a CSS file. However the snapshot file really represents a HTML and so the styles should reside inside a `<style>` element.

This  means a snapshot file can be viewed in a browser as something like:
![image](https://user-images.githubusercontent.com/10037588/38768450-55ea5f7c-4037-11e8-9ad4-a93815f03195.png)
instead of text with

[2018-04-15 17:09] MicheleBertoli commented on #133
Thank you very much for opening this issue @webbhead777.
I've never experienced anything similar, would you be able to provide an example?

[2018-04-15 17:16] #134 closed, assigned to nobody

[2018-04-16 06:49] karolisgrinkevicius commented on #134
Thanks for you response @MicheleBertoli. In fact `styled-system` does not have exported member `themeGet`. So I'm pretty sure I'm using it correctly importing `theme` from `styled-system`. Also I have wrapped up parent component `<App />` with `ThemeProvider`. Should this be somehow set up in `jest` configuration? I could not find any useful documentation about setting up `jest` to be able to use

[2018-04-16 08:33] MicheleBertoli commented on #134
I'm not familiar with `styled-system` but the documented method is [themeGet](https://github.com/jxnblk/styled-system#themeget), which is aliased as [theme](https://github.com/jxnblk/styled-system/blob/master/src/index.js#L90).

Oh, I can't see this in your snippet, would you be able to provide a complete non-working example?

[Here](https://github.com/styled-components/jest-styled-components#them

[2018-04-16 09:36] MicheleBertoli commented on #134
Thank you very much for modifying the example, @karolisgrinkevicius.
However, you forgot to use the `shallowWithTheme` utility described in the [README](https://github.com/styled-components/jest-styled-components#theming).

I created an example with all the renderers, which I hope is going to answer all of your questions:

[code]

[2018-04-16 09:53] karolisgrinkevicius commented on #134
Actually I have ended up mocking `theme` for `styled-system` which works really well.

In `jest.setup.js` I have the following:
[code]

Then I just test that actual key has been passed correctly to the `theme`:

[code]
Thanks @MicheleBertoli.

[2018-04-17 11:37] YKK101 opened #136 "Type Error: Cannot read property 'withConfig' of undefined"
I'm using styled-components 3.0.2 and jest-styled-components 5.0.1 with config in my package.json
[code]

when I import component such as
[code]
to my test, I'll got error
 `TypeError: Cannot read property 'withConfig' of undefined`
but if MyComponent look like
[code]
everything works

[2018-04-17 11:50] csvan commented on #98
I added a PR which possibly resolves this. It worked for us at any rate: https://github.com/styled-components/jest-styled-components/pull/137

[2018-04-19 20:53] #133 closed

[2018-04-19 20:56] MicheleBertoli commented on #106
Thank you very much, @poffdeluxe.

[2018-04-22 16:07] DevanB commented on #97
I'm running into this exact issue and have narrowed down my problematic code to be background-images that are base64 encoded svgs. An example:

[code]

[2018-04-25 01:13] vinhlh opened #139 "Missing class names"
I recently upgraded to `jest-styled-components` latest version but looks like we have a conflict with `babel-plugin-styled-components`.
![image](https://user-images.githubusercontent.com/261283/39221260-7e96f2b2-4868-11e8-8058-10c835fb24ed.png)
Having class names must be easier for reading, to understand the meaning of each part.
![image](https://user-images.githubusercontent.com/261283/39221313-d

[2018-04-30 15:08] elektronik2k5 commented on #101
@Flashwit, did you manage to overcome this bug?

@MicheleBertoli I've recently began using nested selectors in a heavily tested project and this bug is really getting in the way. I'd like to fix it and submit a PR.
I'm not familiar with the project at all and this looks like a corner case. I assume you have a rough idea of where the bug may be. Can you please point me in the right direction?
If no

[2018-04-30 15:45] Flashwit commented on #101
@elektronik2k5 Hey there. I took a look in the codebase to see what happened to this and it looks like it was 'overcome' through refactoring. This particular styled component was replaced with a semantic-ui component so this error doesn't occur anymore and it doesn't seem to have popped up anywhere else among our other styled components.

[2018-05-01 17:37] imflavio commented on #43
Hey, I just played around with this today and managed to make it work with ava.
They don't have any serialization, but you can use the ava.require array inside package.json, I did something like:

package.json
[code]

setup.js
[code]

test.js
[code]

Would you guys be interested in creating a more generalized package name and support both jest and ava?

[2018-05-02 00:30] stramel opened #140 "Doesn't seem to be working with styled-components v3.2.6"
[code]

`lib` directory is no longer published.

[2018-05-02 03:05] #140 closed

[2018-05-03 12:32] karolisgrinkevicius commented on #98
Hi guys. Can you please check if this https://github.com/styled-components/jest-styled-components/pull/141/commits/2d60307fd217ec81a3eb216357c74b8da2cfea95 fixes the problem?

[2018-05-03 13:58] imflavio commented on #43
Published here:
https://github.com/LonRes/ava-styled-components

[2018-05-04 16:51] visarts commented on #126
I'm having this same issue --- the && is needed in order to override material-ui styles in this case without using something like the 'important!' flag

https://stackoverflow.com/questions/50140770/cant-unit-test-styled-component-thats-overriding-material-ui

[2018-05-04 16:56] visarts commented on #126
I also tried the trick where, in the styled-component, you declare custom class names for the 'classes' object in the material-ui component, and then try to style them, but then the styles didn't work at all

[2018-05-07 18:27] MicheleBertoli commented on #43
This is awesome @imflavio, thank you very much.
Let's cc @mxstbr @kitten here so that they can make a call whether we want to include your package into the org, or create a more generic library, or something else.

[2018-05-08 02:37] elektronik2k5 commented on #101
Thank you @MicheleBertoli for the detailed explanation and guidance! It is very helpful and I'll try to find some time to fix this bug. :)

[2018-05-11 12:16] larsno commented on #135
I have not been able to get the `jest-html` serializer to happen after the `jest-styled-component` serializer.

I want the `jest-styled-component` serializer to produce the output elements with the styles within a `<styles>` element. Then I want `jest-html` serailizer to create the equivalent styled HTML output.

I tried this in the test file:
[code]
However the order of the serializers appear to

[2018-05-12 09:31] MicheleBertoli commented on #135
Hello @larsno, thank you very much for your comment.

The `addSnapshotSerializer` function works in the following way:

So, if you run `expect.addSnapshotSerializer(jestHtml)` in you test file, `jest-html`becomes the first serializer.
However, if you add `jest-html` using the `package.json`, `jest-styled-components` becomes the first serializer (due to the side-effect on import):

[code]

I hope t

[2018-05-13 20:51] miketamis opened #142 "Different identifiers other that c0, c1, etc"
The current pattern of c0, c1, c2, means that if I add another styled component my snapshot diffs become a mess, because they end up having all the numbers change.

One suggestion would be to use the react displayName to help make the class. I have created a quick example of this:

[Commit](https://github.com/miketamis/jest-styled-components/commit/956b1a09dee6914b27946ef6629bf7dd7964cfe5)

[Examp

[2018-05-13 20:54] miketamis commented on #142
this is also means that if you want to force a name for the class you can do
[code]

which would result in this snap

[code]

[2018-05-13 21:53] MicheleBertoli commented on #142
Thank you very much @miketamis for opening the issue and proposing a solution.
I [mentioned](https://github.com/styled-components/jest-styled-components/pull/31#issuecomment-311495268) the problem you are referring to in the comments of the release v4 (where we started applying the `c0..cN` approach).

Using the `displayName` seems like a good idea but I see a few problems:
- [it seems to work for

[2018-05-14 08:14] MicheleBertoli commented on #142
100% agree with you @miketamis, there's no perfect solution.
We tried out a few different solutions and we chose what we think is the best trade-off (for the most common use-cases).

I'm more than happy to change approach, but this doesn't seem optimal, and it doesn't work with the `react-test-renderer` unfortunately.
I'm closing this for now but please keep on experimenting, and sharing your idea

[2018-05-14 08:14] #142 closed

[2018-05-17 17:51] rzec-r7 commented on #43
Any update on this? This repo has been working great for me but I would feel ever so slightly better about using it knowing that it was part of the `styled-components` org.

[2018-05-18 04:37] SavePointSam commented on #129
I started work on this a few hours ago. I've gotten it working with react-testing-library for styles. Though I've run into issues getting DOM markup to be printed as well. Currently, it just spits out `<div />` for everything. I'll look into fixing that soon as well.

There is a lot of duplicate code between this update and jest-glamour-react. It may be worthwhile to split it out into a shared lib

[2018-05-18 05:08] kentcdodds commented on #129
Sounds like a solid idea 👍

[2018-05-18 12:28] bulaj commented on #126
@MicheleBertoli adjacent classes are very common and easy way to override styles. Adding && or &&& at the top of styles declarations is very powerful and easy way to weight out styles provided by some external component you need to change (more elegant than adding !important, but thats preference i guess). This opens opportunity to integrate styled-components in environment based on classic css ap

[2018-05-18 13:05] bulaj commented on #126
I did little digging and it looks like _getModifiedClassName_ is not replacing ampersand properly (replaces only first occurence). I'll be happy to submit a PR with change that will replace all ampersands in modifier to classNameSelectors.

[2018-05-18 13:42] FDiskas commented on #134
Non working live example: https://codesandbox.io/s/4qvn61wjlx?expanddevtools=1&module=%2Fsrc%2FMyComponent.spec.js
:musical_score:

[2018-05-18 16:17] MicheleBertoli commented on #134
You should use:

[code]

instead of:

[code]

I hope this helps.

[2018-05-25 17:34] jenniferOlsen opened #144 "TypeError: expect(...).toHaveStyleRule is not a function on a lerna project"
Hello,
I'm trying to get this working on a lerna monorepo and running into some issues. I don't have a ton of experience with styled-components, jest, or lerna...so it's possible I'm overlooking something obvious.

The snapshots run, but I don't get the css rendered. If I use `toHavestyleRule()` I get `TypeError: expect(...).toHaveStyleRule is not a function`. So, it looks like `jest-styled-compon

[2018-05-29 07:13] chhuang opened #145 "Snapshot is missing css/styles when using shallow from enzyme"
When I do:

[code]

I only get:
[code]

It's fine if I use renderer from `react-test-renderer`:
[code]

[2018-05-31 16:02] RishitKedia commented on #130
@Kureev Hey! Sorry to bother you, but any chance that this will be fixed soon? This has become a stopper for testing native components unless I change all imports to the deprecated way (which I don't want to do). 😛I looked around but wasn't able to find anything to help fix this. Anything we can do to help you fix this? 🙂

[2018-06-03 19:20] MicheleBertoli commented on #144
Hello @jenniferOlsen, you need to put a `^` in the [moduleNameMapper](https://facebook.github.io/jest/docs/en/configuration.html#modulenamemapper-object-string-string) entry otherwise you are matching all the modules that contain "styled-components" (`jest-styled-components` included).

[code]

I hope this helps.

[2018-06-03 19:20] #144 closed

[2018-06-03 19:49] alexbassy commented on #130
@RishitKedia while it's not a permanent solution, [this workaround](https://github.com/styled-components/styled-components/issues/1451#issuecomment-361661563) got it working for me

[2018-06-03 20:12] RishitKedia commented on #130
@alexbassy Hey, thanks for the workaround, Alex! 🙏

[2018-06-06 03:20] carloscheddar commented on #145
I'm experiencing this issue as well and managed to reproduce it on code sandbox. I added 2 test cases 1 for `enzyme` and another for `react-test-renderer`. You can see the difference in the snapshot results on the test output https://codesandbox.io/s/o5ko8vlp39.

[2018-06-06 13:23] iilei commented on #117
I would love this feature too :+1:

[2018-06-12 11:17] santino opened #146 "Checking style rules using Jest matchers"
In Jest the `expect` function has many powerful matchers to work with objects, arrays and string.

You can easily make an assertion like this
[code]

`.toHaveStyleRule` works with strings; it fetches the style (_as a string_) applied to a specific rule.
Sometimes the props passed to a component are affecting the styles applied to specific rules and it would be great to use the Jest matchers rather

[2018-06-14 08:59] Mohamed3on commented on #136
Same issue on a RN app with styled-components.

[2018-06-14 09:57] BernieSumption opened #147 "Invalid CSS causes test failure"
I've solved this for myself by fixing the invalid CSS, but am filing an issue as the process of figuring out what was wrong took a while. The issue is that invalid CSS produces a runtime error as jest-styled-components tries to parse the CSS.

I'm not sure what is more appropriate behaviour in the event of invalid CSS, presumably you need to parse the CSS to be able to insert the right snippet int

[2018-06-14 11:48] Mohamed3on commented on #136
my problem was using:
[code]
instead of the native counterparts:
[code]

[2018-06-16 09:09] MicheleBertoli commented on #145
Thank you very much @carloscheddar for providing detailed repro code.

The reasons why there's no style in the first snapshot are:
- `Hello` is not a `styled-component`
- you are `shallow` rendering

That's the expected behaviour.

If you try using `mount` you'll see the styles in the snapshot.

[2018-06-16 09:09] #145 closed

[2018-06-16 10:30] MicheleBertoli commented on #146
Thank you very much @santino for opening this issue.

Although is currently possible to achieve some of the behaviours you described using a [regex](https://github.com/styled-components/jest-styled-components/blob/master/test/toHaveStyleRule.spec.js#L60), I really like the solution you suggested.

Do you have time to work on a PR?
I'll be happy to review it.

[2018-06-16 10:38] MicheleBertoli commented on #147
Thank you very much @BernieSumption for opening this issue and describing the problem you experienced.
I strongly believe handling this kind of errors would be a great functionality for the library.

Do you have time to work on a PR?
I'll be happy to review it.

[2018-06-16 12:04] BernieSumption commented on #147
I probably have time to work up a PR for the error reporting option, since that's not going to require much knowledge of the library internals. What should the wording be? First draft for comment:

[code]

My only thought is that there's a lot of CSS in there. I wonder if there's a utility function we can call in Jest to format it nicely as they've done with the test case file above the stack trac

[2018-06-17 06:50] MicheleBertoli commented on #147
Thank you very much, @BernieSumption.

The error thrown when `parse` fails, contains reason, line and column (see [docs](https://github.com/reworkcss/css#errors)) which we could use to extract the broken CSS from [getStyles](https://github.com/styled-components/jest-styled-components/blob/master/src/utils.js#L48).
So, I'm more inclined to go with the second solution, where we show only a few lines

[2018-06-18 08:14] BernieSumption commented on #147
Cool, I've dropped it onto my TO-DO list, I'll get round to it next time I've got a couple of hours slow time :)

[2018-06-20 23:05] santino commented on #146
Hi @MicheleBertoli,
I have been looking into this and unfortunately the `.styleRule` approach is not feasible.

In order to have something like this 
[code]
`styleRule` would need to be a method in Enzyme and/or react-test-renderer.

Even the following approach wouldn’t work 
[code]
Because Jest does allow creation of custom matchers but they can’t return a string; since they are matchers (and so

[2018-06-21 21:29] santino commented on #146
@MicheleBertoli I have now opened the pull request and I have implemented the changes also for React Native.
Hope you can review it soon as I'm keen to start using the new functionalities :)

[2018-06-25 08:54] albert-olive opened #150 "Upgrading Styled components to 3.3.3 breaks"
Hi, Upgrading to styled components at v3.3.3 breaks the snapshots:

![image](https://user-images.githubusercontent.com/27954280/41840469-1d8e6c7e-7866-11e8-94e6-669ff669a81d.png)

[2018-06-26 05:54] #135 closed

[2018-06-26 06:18] MicheleBertoli commented on #150
Hello @albert-olive, thanks for opening this issue.

I installed SC v3.3.3 on this repo, and tests are green.
Also, we now have an integration test on the SC repo [which is green](https://travis-ci.org/styled-components/styled-components/builds/394690443?utm_source=github_status&utm_medium=notification).

Do you mind providing more information, and double-checking you didn't change anything else?

[2018-06-26 06:31] albert-olive commented on #150
Hi,

I have greenkeeper installed and the only thing it did, in that branch, was to upgrade to v3.3.3 and it didn't pass the tests I have.

I'm using create react app. I have this versions:

[code]

![image](https://user-images.githubusercontent.com/27954280/41893233-550a17a6-791b-11e8-8e5d-daf71c526d3f.png)

Thanks

[2018-06-28 15:20] joshualoehr opened #152 "toHaveStyleRule cannot find nested CSS property when nested pseudo-class present."
Hi,

I spent a lot of time trying to track down this bug, and I'm not sure there will be an easy fix but I wanted to notify the maintainers and anyone else who experiences this.

Consider the following toy example:
[code]

I'm trying to test the CSS logic for coloring the button border, but `toHaveStyleRule` throws a `Property not found: "border-color"` error. After some digging around in the sour

[2018-07-01 14:11] santino commented on #146
Hey @MicheleBertoli, sorry for opening this issue again.

I was just wondering when you were planning to publish a new release to include the new features addressed following this issue.
It's been a while now and I would really need to update my project making use of Jest asymmetric matchers.

Thanks :)

[2018-07-01 19:14] MicheleBertoli commented on #152
Thank you very much @joshualoehr for opening this issue.

I can see a few problems with the snippet you posted:

**1- Shallow rendering**

You are using shallow rendering to test a nested component.
This doesn't render any styles for the child component.

[code]

**2- Semicolons**

The CSS generated from the `Button` component is actually invalid, as it doesn't have the semicolons.
I tried it in C

[2018-07-01 19:14] #152 closed

[2018-07-02 14:16] DeX3 opened #153 "Check for styles applied through a HOC"
Hey,

I created the following HOC to easily apply a set of conditional styles to a Component:

[code]

The component works fine and does exactly what you'd expect outside of tests.  Now I wanted to test this HOC with the following:

[code]

But it seems like `jest-styled-components` does not pick up the conditional `color: red` style at all:

[code]

Actually, the supplied predicate (that's just r

[2018-07-02 15:02] mrmartineau opened #154 "Snapshots now adding full html DOM, why?"
I just re-ran my tests after screwing around with Babel and my build system (bad idea I know) and now my styled-components snapshots have completely changed. Each component renders as it should but now the snapshot is wrapped by a full DOM (<html><body> etc etc), any ideas why? Is it ok or a bug?

FYI I'm using https://www.npmjs.com/package/react-testing-library to 'render' in the tests.

### Befo

[2018-07-03 16:45] ebwinters commented on #153
I am having the same issue. A workaround would be to apply the style to a plain component:
[code]

[2018-07-04 20:02] MicheleBertoli commented on #146
Hey @santino,
I was waiting for a couple of issues (e.g. #135) to be closed and to find time for cleaning up a few things (e.g.  Eslint VS Prettier) before pushing a new major.

However, I can see the value of using the current master with your changes, so I pushed: `jest-styled-components@6.0.0-0`.

Feel free to install it using `yarn add --dev jest-styled-components@next`.

[2018-07-04 20:06] MicheleBertoli commented on #154
Hello @mrmartineau,
unfortunately, I'm not familiar with `react-testing-library`, but there's another issue around it (#129).

To me, even the snapshot before was wrong, as I would expect it to look more like this:

[code]

Let's if someone is able to help.

[2018-07-05 05:41] DeX3 commented on #153
You are correct, it was my fault - there was actually an implementation error in my HOC...

[code]

should've been
[code]

No idea how it was working in my actual application though...

[2018-07-05 05:41] #153 closed

[2018-07-05 18:36] mrmartineau commented on #154
@MicheleBertoli thanks, I had thought that it was this jest-styled-components that caused the issue but perhaps react-testing-library. I will raise a ticket there to see if that produces any answers.

[2018-07-05 18:58] kentcdodds commented on #154
Hi friends.

Definitely do NOT snapshot the entire object you get back from `render`. It has a TON of stuff in there that's totally irrelevant for your tests.

If you want to snapshot the entire rendered element, then do:

[code]

Note that the `container` will always be a `div` so it's probably not necessary to include it in a snapshot, so you can simplify things if you do:

[code]

Good luck!

[2018-07-05 20:55] mrmartineau commented on #154
@kentcdodds thank you! I did not know that. Did I miss that somewhere in the documentation?

[2018-07-05 20:55] #154 closed

[2018-07-08 07:27] tomitrescak opened #156 "Would you consider wrapping the styles in the <style> tag?"
I am rendering HTML preview of snapshots in an extension and it would be very helpful if it would be wrapped in style.

This is current:

https://github.com/styled-components/jest-styled-components/blob/57c488df99598b27bc27da77a356e0d732dccae3/src/styleSheetSerializer.js#L107

This is what I would need

[code]

Since this is a breaking change, maybe some parameter that would allow to wrap? Thanks.

[2018-07-08 07:49] MicheleBertoli commented on #156
Duplicate of #135

[2018-07-08 07:49] #156 closed

[2018-07-08 11:29] tomitrescak commented on #156
It is kind of duplicate, but jest-html renders all kinds of problems. So it is no solution for me. Solving the <style> ... would be the best.

[2018-07-09 09:47] chrishelgert opened #158 "toHaveStyleRules doesn't find additional props"
We have a component that gets styling based on the swipe position - for that reason we are using `styled.div.attrs` (https://www.styled-components.com/docs/basics#attaching-additional-props) with the current position (`transform: translateX(${position})`).

If we now run the test and want to check the postion with `.toHaveStyleRule('transform')` following error occurs:

[code]

[2018-07-14 17:42] MicheleBertoli commented on #158
Hey @chrishelgert, can you please provide more information (e.g. the component and the test) so that I can try to repro this? Thank you very much!

[2018-07-14 17:46] MicheleBertoli commented on #150
I'm closing this because this repo [is using 3.3.3](https://github.com/styled-components/jest-styled-components/blob/master/yarn.lock#L6466) and the tests are green.
Feel free to reopen the issue if you are able to provide more information @albert-olive.
Thank you very much!

[2018-07-14 17:46] #150 closed

[2018-07-15 23:16] FilipMessa opened #159 "enzyme shallow snapshots"
I am trying to find the solution how to avoid whole theme object in Jest snapshot.

I got, for Example, this simple test.

    test("render", () => {
      const wrapper = shallow(<Result item={item} />);
      expect(wrapper).toMatchSnapshot();
    });

**Result.js**

    const Title = styled.h3`
      background-color: ${({ theme }) => theme.colors['primary']};
    `

    Title.defaultProps = {

[2018-07-15 23:47] #159 closed

[2018-07-16 16:58] chrishelgert commented on #158
@MicheleBertoli sure thing :)
i hope i didn't forget anything while resolving the imports, so you can repro it:

## Component

[code]

## Testcase

[code]

[2018-07-19 14:15] isacjunior opened #160 "Dont generating snapshots with styled informations in React Native"
This is my Button. When make snapshots, none information about style is generating.
[code]

Test:
[code]

Snapshot results:
[code]

Dependencies:
[code]

[2018-07-22 07:12] MicheleBertoli commented on #158
Thank you very much for providing more information, @chrishelgert.

The issue is that you are passing the style rules to `StyledOffset` using the `style` prop. instead of using the Styled Components' styles.

[code]

If you change your code to:

[code]

The tests pass:

I hope this helps.

[2018-07-22 07:12] #158 closed

[2018-07-22 07:14] MicheleBertoli commented on #160
Hello @isacjunior, thanks for opening this issue.
This package only supports the [toHaveStyleRule](https://github.com/styled-components/jest-styled-components#tohavestylerule) matcher on RN.

[2018-07-22 07:14] #160 closed

[2018-07-23 11:17] albert-olive opened #161 "Does it works with styled components?"
Hi Kent,

I'm trying to use your fantastic library but I'm having an issue with the snapshots. I'm using styled components and now I don't see the styles in my snapshots. For example:

![image](https://user-images.githubusercontent.com/27954280/43073673-bb882a58-8e7a-11e8-9f07-fb20b54e69af.png)

I saw somewhere that you're using glamorous and you fixed that but, what about styled components?

Than

[2018-07-23 11:29] #161 closed

[2018-07-23 11:32] elektronik2k5 commented on #101
@MicheleBertoli it was a bit more complex than what you described, but your explanation definitely helped. If `styled-components` had a hacking guide or wiki, which would document the basic concepts it would have been easier and faster to do get it done.

Please review my [PR](https://github.com/styled-components/jest-styled-components/pull/162). Thanks! :bowing_man:

[2018-07-24 06:22] albert-olive opened #163 "Work with react-testing-library"
Hi, I'm facing an issue with the snapshots using react-testing-library. This is the [issue](https://github.com/kentcdodds/react-testing-library/issues/144).

At the end, Kent is saying that your snapshot serializer doesn't work for DOM elements like glamorous and emotion do.

He points out what he did: https://github.com/kentcdodds/jest-glamor-react/blob/61cb3d0d7acef4f34128a7d3a75f60ebc97730e2/sr

[2018-07-28 09:19] dashed commented on #129
@SavePointSam have you made any progress since your last update?

[2018-07-28 14:14] SavePointSam commented on #129
@dashed Unfortunately, I haven't been able to devote time to working on this as the `react-test-renderer` workaround I shared works well enough for me. I would love to have this fixed, but the temporary work around isn't so bad.

[2018-08-01 09:32] yss14 opened #164 "Test toHaveStyleRule on children"
Is it possible to test style rules on children? Some of my components are wrapped into another component and I just want to test, if the inner node (which is the actual styled components) has specific style rules.

[code]

Here the actual styled component is the first child.

I tried

[code]

but it says `Property not found: "background-color"`.

[2018-08-01 10:43] keul commented on #163
See also #129

[2018-08-07 01:56] tylerreckart opened #165 "toHaveStyleRule SyntaxError on test run"
I've been having quite the time getting tests to run on a styled component.

This is the error I'm currently facing when I try to run the test:
[code]

The environment is a simple CRA generated React app. I've tried updating my jest config for the test environment, but no dice.

I've also run into a number of errors that seemed to be due to an improper babel config, however I haven't been able to

[2018-08-08 11:10] #165 closed

[2018-08-09 12:28] MicheleBertoli commented on #163
Hey @albert-olive, I confirm this library works with components rendered using the `react-test-renderer` and `enzyme`.
It would be nice to support DOM elements, and the `react-testing-library`.
Would you be happy to submit a PR?
Thank you very much!

[2018-08-09 12:31] MicheleBertoli commented on #163
Duplicate of #129

[2018-08-09 12:31] #163 closed

[2018-08-09 12:32] MicheleBertoli commented on #164
Hey @yss14, I would love to help but I need more context.
Would you be able to provide a complete non-working example?
Thank you very much!

[2018-08-09 12:53] MicheleBertoli commented on #101
🙌 thank you very much, @elektronik2k5.

[2018-08-09 21:42] EdmundMai opened #166 "How to test private styled components?"
I'm having trouble finding documentation on how I would test styled components that I only use within a React component.

This is my component:

[code]

these are my tests:

[code]

What I really want to do is do something like `card().find("div").toHaveStyleRule("background-image", "/images/image.png")`

[2018-08-10 06:29] MicheleBertoli commented on #166
Hello @EdmundMai, thanks for opening this issue.

You could give the "private" component a `displayName`, and use Enzyme's [find](http://airbnb.io/enzyme/docs/api/ReactWrapper/find.html):

[code]

[code]

Or you could search the component by prop:

[code]

And finally check that the background is correct:

[code]

I hope this helps.

[2018-08-10 06:29] #166 closed

[2018-08-10 07:55] #101 closed

[2018-08-11 08:32] elektronik2k5 opened #167 "TypeScript syntax error in v6.0.0 index.d.ts"
I believe there's a bug here:
https://github.com/styled-components/jest-styled-components/blob/17450d167b707177201f64359ea5f9d327b46394/src/index.d.ts#L3

In `typescript@3.0.1` (the only version I tested, but I don't think it is specific to 3), it is a syntax error:
[code]

I believe, though am not sure (otherwise I'd make a PR) the fix is as simple as:
[code]

@santino, is my assumption correct?

[2018-08-11 09:32] MicheleBertoli commented on #167
Thank you very much @elektronik2k5 for opening this issue.

In the Jest repo the `AsymmetricMatcher` is defined as an [Object](https://github.com/facebook/jest/blob/d3a6a7400a89b857a63d939fc5664ae8a2dfbbb2/types/Matchers.js#L45).
Unfortunately, I'm not familiar with TS but your suggested fix seems correct.

Also, it'd be awesome to test the TS types to prevent issues like this to happen again.

[2018-08-11 11:29] #167 closed

[2018-08-14 09:26] yuanlai opened #168 "The styled-component and hoc function testing error"
I have a hoc function used for wrapping a animation for any component I want.

    import React from "react";
    import styled from "styled-components";

    import { fadeInUp, fadeOutDown } from "./animation";

    const FadeContainer = styled.div`
      animation: ${props =>
        props.routeAnimation === "fadeInUp"
          ? fadeInUp + " 250ms ease forwards"
          : props.routeAnimatio

[2018-08-14 12:51] MicheleBertoli commented on #168
Hey @yuanlai, your code is giving a warning:

And you should change your test to:

[code]

Where:
- `TestComponent` is a component
- `TestComponent` is capitalised
- `TestComponent` is passed to `withFadeAnimation`
- `Hoc1` is capitalised

To make it work:

[code]

I hope this helps.

[2018-08-14 12:51] #168 closed

[2018-08-14 15:18] yuanlai commented on #168
Cool, very nice code.

[2018-08-15 05:17] probablyup opened #169 "Upcoming data attribute change in v4"
Hey folks, just letting you know ahead of time that https://github.com/styled-components/jest-styled-components/blob/22d6192ff2c7cbf1e6dc5e2e139904b7ddf7978d/src/utils.js#L49 will need to be changed for styled-components v4.

`data-styled-components` -> `data-styled`

For more info, see https://github.com/styled-components/styled-components/pull/1919

Cheers

[2018-08-16 12:23] msbober opened #170 "Styles not found on a component (toHaveStyleRule)"
With the latest `enzyme` (3.4.1) and `jest-styled-components` (6.0.0), the `toHaveStyleRule` assertion is not finding the styles on a component.

Symptoms:
[code]

Also visible in snapshots. Before, the snapshot included the style classes definition, e.g.:
[code]

With the latest enzyme, in the snapshot, the `className` is still there on a component (twice?), but the class definition is missing:
[

[2018-08-16 14:25] MicheleBertoli commented on #170
Hello @msbober, thanks for opening this issue.
The tests are currently passing with [enzyme 3.1.4](https://github.com/styled-components/jest-styled-components/blob/master/yarn.lock#L2154), would you mind providing more information (e.g. the component and the test implementation)?

[2018-08-16 18:19] wesrice commented on #170
Fwiw, I'm experiencing the same issue, but cannot provide much debugging information at this time.

[code]

[2018-08-19 15:08] MicheleBertoli commented on #129
Thanks to @kylekthompson, `react-testing-library` is supported in v6.1.0.

[2018-08-19 15:08] #129 closed

[2018-08-19 15:15] SavePointSam commented on #129
🎉🎉🎉

[2018-08-21 09:17] oreqizer commented on #170
Same here, snapshot's okay, but no styles found using `toHaveStyleRule`, happening since v6.

[code]

[2018-08-21 09:43] MicheleBertoli commented on #170
Thank you very much, @wesrice @oreqizer.

Unfortunately, without a non-working example and the tests that are passing is super hard for me to investigate this issue.
Would you be able to provide some code?

[2018-08-21 10:01] thomas88 commented on #170
I'm running into the issue as well and have been trying to setup a codesandbox with a repro. Can't get the sandbox running with jest + enzyme though. Do you have a codesandbox that I could use as a starter somewhere?

[2018-08-21 10:10] MicheleBertoli commented on #170
Hey @thomas88, thanks for your comment.

Codesandbox helps but it's not require, if you could paste the code (of the component and the failing test) here, I will be happy to run it locally.

[2018-08-21 10:49] msbober commented on #170
At some point the problem just stopped happening for us (```enzyme (3.4.1)``` and ```jest-styled-components (4.9.0)```) without any apparent reason.

Currently we think that in our case it was some weird yarn caching problem. We'll keep an eye for it.

I'd close the issue but it looks like there are others observing the same behaviour.

[2018-08-21 16:04] thomas88 commented on #170
I think I found the pattern that breaks after updating to version 6. It occurs when the styled component is rendered by another component (which is the one being tested). Here's an example:

### `MyComponent.js`

[code]

### `MyComponent.test.js`

[code]

### Output

[code]

[2018-08-21 16:10] wesrice commented on #170
I am experiencing this issue with the same scenario that @thomas88 is describing.

[2018-08-22 07:26] #170 closed

[2018-08-22 07:51] MicheleBertoli commented on #170
This is awesome, thanks @thomas88 @wesrice.
I found the regression, and fixed it in v6.1.1.

@thomas88 you should run the expectation on `wrapper`, as opposed to `wrapper.find('MyComponent__Card')`, because the latter doesn't exist:

[code]

[2018-08-22 07:52] MicheleBertoli commented on #164
Closing due to inactivity.

[2018-08-22 07:52] #164 closed

[2018-08-22 08:40] thomas88 commented on #170
How awesome is that. Thanks for the fast fix @MicheleBertoli! All tests are working again.

[2018-08-22 13:31] isacjunior opened #172 "TypeError: expect(...).toHaveStyleRule is not a function - React Native"
**Error**
[code]

**jest.config.js**
[code]

**Dependencies**
[code]

**Button** without wrapper Component
[code]

**Button test**
[code]

[2018-08-24 10:15] artooras opened #174 "Error: No style rules found on passed Component"
Hi. I have a simple `styled-components` component that I'm trying to test with `jest-styled-components`.

**Button.js**

[code]

But when I'm trying to test it with `toHaveStyleRule` (I use `react-testing-library`), I get the mentioned error.

**Button.test.js**

[code]

The `console.log()` output is as follows:

[code]

Am I using `toHaveStyleRule` incorrectly?

[2018-08-24 21:41] JoosepAlviste opened #175 "react-testing-library `rerender` method"
Hey. I just tried out the support for react-testing-library, but found that using the [rerender](https://github.com/kentcdodds/react-testing-library#rerender) method does not generate a nice snapshot. Here's my small example:

[code]

And the generated snapshots file includes both of the snapshots. The first one using `render` is ok:

[code]

But the second one, using `rerender`, still has those c

[2018-08-26 09:37] MicheleBertoli commented on #175
Hello @JoosepAlviste, thanks for opening this issue.

I confirm you are using `rerender` in the correct way.
However, this library [marks the received nodes as "seen"](https://github.com/styled-components/jest-styled-components/blob/master/src/styleSheetSerializer.js#L133) to avoid issues with children.
That's why the second expectation doesn't go through the serialiser.

A super-hacky way to solv

[2018-08-26 09:37] #175 closed

[2018-08-28 14:06] artooras commented on #174
I tried running the test with the latest version `6.1.1` and cannot reproduce the error anymore...

[2018-08-28 14:26] artooras commented on #174
Having said that, I found another minor issue - the library can find a rule like `('cursor', 'pointer')`, but it fails to find a rule `('-webkit-text-stroke', '1px white'), although I have them side-by-side in code, in page source as well as in dev tools in Chrome.

[2018-08-28 21:01] MicheleBertoli commented on #174
I'm glad to hear v6.1.1 fixed the issue, thanks @artooras.

I tried the code you described:

[code]

And it seems to work as expected.

Can you please open a separate issue with a non-working example so that I can look into it?
Thank you very much!

[2018-08-28 21:01] #174 closed

[2018-09-01 16:04] developer239 opened #176 "Migration from 5 to 6"
I receive this weird error after updating to `jest-styled-components: 6.1.1`:

[code]

[code]

[2018-09-01 16:28] MicheleBertoli commented on #176
Interesting, thanks for opening this issue @developer239.

The tests are green, so I need more information to debug the problem.
Would you be able to provide a non-working example and/or the version of the other packages your are using, the Jest configuration, etc.?

[2018-09-03 08:05] artooras opened #177 "toHaveStyleRule doesn't find properties based on theme"
I know there was a [somewhat similar question](https://github.com/styled-components/jest-styled-components/issues/119), but that case is based on Enzyme's shallow rendering, while I'm using `react-testing-library`.

Here's the code:

[code]

The first `expect` statement passes. The second one fails with:

[code]

It also fails if I write the test with an explicit value like so:

`expect(myComponen

[2018-09-03 12:48] dmitrymalakhov opened #178 "Failed snapshot when use jest-puppeteer preset"
I use styled-components and jest-styled-components for tests. I need test with the use puppeteer and i added jest-puppeteer, but i got problem with snapshot in styled components.

![screenshot from 2018-09-03 15-47-30](https://user-images.githubusercontent.com/2477267/44987691-ba447480-af90-11e8-8e37-2a03c820390b.png)

[2018-09-04 07:46] strax opened #179 "TypeScript definitions conflict with other global types"
Version: 6.1.1

Since `index.d.ts` is not a module declaration file, interfaces defined inside the file _not_  in a namespace are visible in the global scope. For us, it causes a compilation error as another package exposes a global `interface Options` as well.

To fix, it should be possible to move the helper types into the scope of this module and only augment the `jest` namespace. If that sound

[2018-09-04 15:37] harrygreen commented on #102
For anyone else still struggling with this (like I was 5 mins ago), I fixed by snapshotting the component instead of the parent `<Router>`

Try:
[code]

[2018-09-04 18:46] rodcisal commented on #110
I was having the same issue.

Apparently, it's because of the difference in the versions of NODE.
I had 6.x.x on my server and 9.x.x locally (where they were passing)

[2018-09-06 04:39] probablyup commented on #169
/ping - now that the [beta is out](https://medium.com/styled-components/announcing-styled-components-v4-better-faster-stronger-3fe1aba1a112) it'd be awesome to get a patch cut to support the new attribute

I think it should probably be easy to support both at once